:root {
  --main-green: #9ed821;
  --black: #262c20;
  --hamburger: #292d32;
  --hamburger-open: var(--hamburger);
  --white: #fff;
  --libre: Libre Caslon Text;
  --belota: Bellota Text;
  --light: #f2f6e6;
  --orangen: #ffc01d;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

address {
  font-style: normal;
}
button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  /* padding: 0 16px; */
  padding-left: 16px;
  padding-right: 16px;
  width: 360px;

  @media screen and (min-width: 768px) {
    width: 360px;
    /* padding-left: 40px;
    padding-right: 40px; */
  }

  @media screen and (min-width: 1366px) {
    width: 1366px;
    /* padding-left: 26px;
    padding-right: 26px; */
  }
}
