html {
  scroll-behavior: smooth;
}
.no-scroll {
  overflow: hidden;
}
body::-webkit-scrollbar {
  @extend %scroll-size;
}

body::-webkit-scrollbar-thumb {
  @extend %scroll-config;
}
h1 {
  color: $black;
  text-shadow: 2px 2px 0px #f2f6e6;
  font-family: $libre;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    text-shadow: 4px 4px 0px #f2f6e6;
    font-size: 136px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
h2 {
  font-family: $libre;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 60px;
    line-height: 1.33;
  }
}
h3 {
  font-family: $libre;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;

  @media screen and (min-width: $desktop) {
    font-size: 60px;
    line-height: 1.33;
  }
}
h4 {
  font-family: $libre;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.78;

  @media screen and (min-width: $desktop) {
    font-size: 32px;
    line-height: 1.63;
  }
}
h5 {
  font-family: $libre;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 24px;
    line-height: 1.67;
  }
}

%scroll-config {
  // background-image: linear-gradient(#9ed82187, #262c2072, #9ed82187);
  background-image: linear-gradient(#9ed82187, $orangen, #262c2072);
  border-radius: 5px;
}
%scroll-size {
  width: 0.6em;
}
%icon-container {
  display: block;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $main-green;
  border-radius: 50%;
  margin-right: 15px;
}

%devider-after-h2 {
  color: $black;

  &::after {
    content: url('../images/elements/devider.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 12px;
    margin: 12px auto 0;

    @media screen and (min-width: $desktop) {
      width: 224px;
      height: 15px;
      margin: 10px auto 0;
    }
  }
}
%form-desctop {
  @media screen and (min-width: $desktop) {
    .modal-form__body-h5 {
      margin-bottom: 20px;
      &::after {
        margin-top: 20px;
      }
    }
    .modal-form__body-text {
      font-size: 18px;
      line-height: 1.56;
    }
    .modal-form__form-wraper {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      & > label {
        display: inline-block;
        width: 298px;

        &:not(:last-child) {
          margin-bottom: 0;
        }
        &:not(:nth-last-child(-n + 2)) {
          margin-bottom: 20px;
        }
      }
    }
    .modal-form__form {
      margin-top: 32px;
    }
    .modal-form__form-field-container {
      font-size: 18px;
    }
    .modal-form__form-field {
      font-size: 18px;
    }
    .modal-form__form-input {
      height: 44px;
      &:placeholder-shown {
        border: 2px solid $black;
        box-shadow: 2px 2px 0px 0px #262c20;
      }
    }
    .modal-form__form-field {
      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 20px;
      }
    }
    .modal-form__form-field-checkbox-label {
      font-size: 18px;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    .modal-form__form-field-checkbox-svg {
      fill: $background;
    }
    .modal-form__form-field-spam-conteiner {
      font-size: 18px;
      flex-shrink: 0;
      margin-bottom: 0;
    }
    .modal-form__form-field-spam-text {
      font-size: 16px;
    }
    .modal-form__form-field-spam-input {
      width: 105px;
      &:placeholder-shown {
        border: 2px solid $black;
        box-shadow: 2px 2px 0px 0px #262c20;
      }
    }
    .modal-form__form-submit-btn {
      font-size: 28px;
      width: 242px;
      border: 4px solid $black;
      box-shadow: 4px 4px 0px 0px #1c2116;
    }
    .modal-form__spam-submit-wraper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
