.visually-hidden {
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  transition: clip-path .25s cubic-bezier(.4, 0, .2, 1);
  position: absolute;
  overflow: hidden;
}

.modal-form__form-input:invalid, .modal-form__form-field-spam-input:invalid {
  border: 2px solid #ffc01d;
  border-radius: 14px;
  box-shadow: 1.751px 1.751px #ffc01d;
}

.modal-form__form-input:invalid:after, .modal-form__form-field-spam-input:invalid:after {
  content: "";
}

.modal-form__form-input:valid, .modal-form__form-field-spam-input:valid {
  border: 2px solid #9ed821;
  border-radius: 14px;
  box-shadow: 1.751px 1.751px #9ed821;
}

.modal-form__form-input:valid:after, .modal-form__form-field-spam-input:valid:after {
  content: "";
}

.modal-form__form-input:hover, .modal-form__form-input :focus, .modal-form__form-field-spam-input:hover, .modal-form__form-field-spam-input :focus {
  background: #f2f6e6;
  border: 2px solid #262c20;
  border-radius: 14px;
  text-decoration: none;
  box-shadow: 1.751px 1.751px #262c20;
}

.modal-form__form-field-female-radio:checked + .modal-form__form-field-female-svg, .modal-form__form-field-male-radio:checked + .modal-form__form-field-male-svg {
  fill: #9ed821;
}

.modal-form__form-field-female-radio:focus-visible + .modal-form__form-field-female-svg, .modal-form__form-field-male-radio:focus-visible + .modal-form__form-field-male-svg {
  border: 3px solid #000;
  border-radius: 40%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

:is(input::-webkit-outer-spin-button, input::-webkit-inner-spin-button) {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

.modal-form__container-scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#9ed82187, #ffc01d, #262c2072);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#9ed82187, #ffc01d, #262c2072);
  border-radius: 5px;
}

.modal-form__container-scroll::-webkit-scrollbar {
  width: .6em;
}

body::-webkit-scrollbar {
  width: .6em;
}

.contact__addres-link-container-svg, .header__contact-link-container-svg, .header__mobile-contact-link-container-svg {
  background: #9ed821;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  display: flex;
}

.contact-main__hero-h2, .customers__h2, .description__h2, .program__h2, .services__h2 {
  color: #262c20;
  font-family: Libre Caslon Text;
}

.contact-main__hero-h2:after, .customers__h2:after, .description__h2:after, .program__h2:after, .services__h2:after {
  content: url("devider.6d69b525.svg");
  flex-direction: column;
  justify-content: center;
  width: 130px;
  height: 12px;
  margin: 12px auto 0;
  display: flex;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-h2:after, .customers__h2:after, .description__h2:after, .program__h2:after, .services__h2:after {
    width: 224px;
    height: 15px;
    margin: 10px auto 0;
  }

  .contact-main__hero-contact-form-container .modal-form__body-h2, .description__fedBack-container .modal-form__body-h2 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.67;
  }

  .contact-main__hero-contact-form-container .modal-form__body-h2:after, .description__fedBack-container .modal-form__body-h2:after {
    margin-top: 20px;
  }

  .contact-main__hero-contact-form-container .modal-form__body-text, .description__fedBack-container .modal-form__body-text {
    font-size: 18px;
    line-height: 1.56;
  }

  .contact-main__hero-contact-form-container .modal-form__form-wraper, .description__fedBack-container .modal-form__form-wraper {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;
  }

  .contact-main__hero-contact-form-container .modal-form__form-wraper > label, .description__fedBack-container .modal-form__form-wraper > label {
    width: 298px;
    display: inline-block;
  }

  .contact-main__hero-contact-form-container .modal-form__form-wraper > label:not(:last-child), .description__fedBack-container .modal-form__form-wraper > label:not(:last-child) {
    margin-bottom: 0;
  }

  .contact-main__hero-contact-form-container .modal-form__form-wraper > label:not(:nth-last-child(-n+2)), .description__fedBack-container .modal-form__form-wraper > label:not(:nth-last-child(-n+2)) {
    margin-bottom: 20px;
  }

  .contact-main__hero-contact-form-container .modal-form__form, .description__fedBack-container .modal-form__form {
    margin-top: 32px;
  }

  .contact-main__hero-contact-form-container .modal-form__form-field-container, .description__fedBack-container .modal-form__form-field-container, .contact-main__hero-contact-form-container .modal-form__form-field, .contact-main__hero-contact-form-container .modal-form__form-field-container, .description__fedBack-container .modal-form__form-field, .description__fedBack-container .modal-form__form-field-container {
    font-size: 18px;
  }

  .contact-main__hero-contact-form-container .modal-form__form-input, .description__fedBack-container .modal-form__form-input {
    height: 44px;
  }

  .contact-main__hero-contact-form-container .modal-form__form-input:placeholder-shown, .description__fedBack-container .modal-form__form-input:placeholder-shown {
    border: 2px solid #262c20;
    box-shadow: 2px 2px #262c20;
  }

  .contact-main__hero-contact-form-container .modal-form__form-field:not(:nth-last-child(-n+3)), .contact-main__hero-contact-form-container .modal-form__form-field-container:not(:nth-last-child(-n+3)), .description__fedBack-container .modal-form__form-field:not(:nth-last-child(-n+3)), .description__fedBack-container .modal-form__form-field-container:not(:nth-last-child(-n+3)) {
    margin-bottom: 20px;
  }

  .contact-main__hero-contact-form-container .modal-form__form-field-checkbox-label, .description__fedBack-container .modal-form__form-field-checkbox-label {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 18px;
  }

  .contact-main__hero-contact-form-container .modal-form__form-field-checkbox-svg, .description__fedBack-container .modal-form__form-field-checkbox-svg {
    fill: #fff;
  }

  .contact-main__hero-contact-form-container .modal-form__form-field-spam-conteiner, .description__fedBack-container .modal-form__form-field-spam-conteiner {
    flex-shrink: 0;
    margin-bottom: 0;
    font-size: 18px;
  }

  .contact-main__hero-contact-form-container .modal-form__form-field-spam-text, .description__fedBack-container .modal-form__form-field-spam-text {
    font-size: 16px;
  }

  .contact-main__hero-contact-form-container .modal-form__form-field-spam-input, .description__fedBack-container .modal-form__form-field-spam-input {
    width: 105px;
  }

  .contact-main__hero-contact-form-container .modal-form__form-field-spam-input:placeholder-shown, .description__fedBack-container .modal-form__form-field-spam-input:placeholder-shown {
    border: 2px solid #262c20;
    box-shadow: 2px 2px #262c20;
  }

  .contact-main__hero-contact-form-container .modal-form__form-submit-btn, .description__fedBack-container .modal-form__form-submit-btn {
    border: 4px solid #262c20;
    width: 242px;
    font-size: 28px;
    box-shadow: 4px 4px #1c2116;
  }

  .contact-main__hero-contact-form-container .modal-form__spam-submit-wraper, .description__fedBack-container .modal-form__spam-submit-wraper {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

.container {
  width: 360px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (width >= 360px) {
  .container {
    width: 360px;
  }
}

@media screen and (width >= 1440px) {
  .container {
    width: 1440px;
    padding-left: 0;
    padding-right: 0;
  }
}

.hamburger {
  z-index: 11;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: #0000;
  border: 0;
  margin: 0;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  display: inline-block;
  overflow: visible;
}

.hamburger:hover, .hamburger.burger-active:hover {
  opacity: .7;
}

.hamburger.burger-active .hamburger-inner, .hamburger.burger-active .hamburger-inner:before, .hamburger.burger-active .hamburger-inner:after {
  background-color: #292d32;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  margin-top: -2px;
  display: block;
  top: 50%;
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
  background-color: #292d32;
  border-radius: 4px;
  width: 30px;
  height: 4px;
  transition-property: transform, -webkit-transform;
  transition-duration: .15s;
  transition-timing-function: ease;
  position: absolute;
}

.hamburger-inner:before, .hamburger-inner:after {
  content: "";
  display: block;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color .125s ease-in .175s;
}

.hamburger--emphatic .hamburger-inner:before {
  transition: transform .125s cubic-bezier(.6, .04, .98, .335), top 50ms linear .125s, left .125s ease-in .175s, -webkit-transform .125s cubic-bezier(.6, .04, .98, .335);
  left: 0;
}

.hamburger--emphatic .hamburger-inner:after {
  transition: transform .125s cubic-bezier(.6, .04, .98, .335), top 50ms linear .125s, right .125s ease-in .175s, -webkit-transform .125s cubic-bezier(.6, .04, .98, .335);
  top: 10px;
  right: 0;
}

.hamburger--emphatic.burger-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: #0000 !important;
}

.hamburger--emphatic.burger-active .hamburger-inner:before {
  transition: left .125s ease-out, top 50ms linear .125s, transform .125s cubic-bezier(.075, .82, .165, 1) .175s, -webkit-transform .125s cubic-bezier(.075, .82, .165, 1) .175s;
  top: -80px;
  left: -80px;
  transform: translate3d(80px, 80px, 0)rotate(45deg);
}

.hamburger--emphatic.burger-active .hamburger-inner:after {
  transition: right .125s ease-out, top 50ms linear .125s, transform .125s cubic-bezier(.075, .82, .165, 1) .175s, -webkit-transform .125s cubic-bezier(.075, .82, .165, 1) .175s;
  top: -80px;
  right: -80px;
  transform: translate3d(-80px, 80px, 0)rotate(-45deg);
}

.backdrop {
  z-index: 100;
  background-color: #262c2099;
  width: 100vw;
  height: 100vh;
  transition: opacity .25s cubic-bezier(.4, 0, .2, 1), vissibility .25s cubic-bezier(.4, 0, .2, 1);
  position: fixed;
  top: 0;
  left: 0;
}

.header__mobile-modal {
  background: #f2f6e6;
  border: 4px solid #262c20;
  border-radius: 8px 0 0 8px;
  width: 300px;
  height: 640px;
  margin-left: auto;
  margin-right: -16px;
  overflow-x: hidden;
  overflow-y: auto;
}

.header__logo-modal-container {
  background-color: #9ed821;
  justify-content: center;
  height: 50px;
  display: flex;
}

.header__logo-modal-link {
  background: #9ed821;
  border: 4px solid #262c20;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 70px;
  padding: 24px 20px;
  display: flex;
}

.header__logo-img-modal {
  width: 170px;
  height: 21.5px;
}

.header__mobile-nav {
  flex-direction: column;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 41px;
  display: flex;
}

.header__mobile-nav-item {
  z-index: 1;
  justify-content: center;
  display: flex;
  position: relative;
}

.header__mobile-nav-item:not(:last-child) {
  margin-bottom: 30px;
}

.header__mobile-nav-item-active:before {
  content: "";
  z-index: 0;
  background-color: #9ed821;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__mobile-nav-link {
  color: #262c20;
  font-family: Bellota Text;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
  position: relative;
}

.header__mobile-nav-link:hover {
  color: #ffc01d;
}

.header__mobile-lang {
  background-color: #9ed821;
  height: 71px;
  box-shadow: 0 4px #262c20;
}

.header__mobile-lang-container {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 21px 12px 15px;
  display: flex;
}

.header__mobile-lang-container:hover > .header__mobile-lang-svg {
  fill: #ffc01d;
}

.header__mobile-lang-clear {
  align-items: center;
  display: flex;
}

.header__mobile-lang-flag {
  width: 36px;
  height: 24px;
}

.header__mobile-lang-name {
  color: #262c20;
  margin-left: 28px;
  margin-right: 28px;
  font-family: Bellota Text;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
}

.header__mobile-lang-svg {
  width: 24px;
  height: 24px;
  transition: fill .25s cubic-bezier(.4, 0, .2, 1);
}

.header__mobile-lang-svg-active {
  transform: rotate(180deg);
}

.header__mobile-lang-list {
  z-index: 1;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1);
  position: relative;
  box-shadow: 0 4px #262c20;
}

.header__mobile-lang-item {
  background-color: #f2f6e6;
  width: 300px;
  padding: 5px 40px;
}

.header__mobile-lang-item:active > .header__mobile-lang-name, .header__mobile-lang-item:hover > .header__mobile-lang-name {
  color: #ffc01d;
}

.header__mobile-contact {
  margin-top: 35px;
  margin-bottom: 35px;
}

.header__mobile-contact-link {
  color: #262c20;
  align-items: center;
  margin-left: 8px;
  font-family: Bellota Text;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.header__mobile-contact-link:not(:last-child) {
  margin-bottom: 30px;
}

.header__mobile-contact-link:hover, .header__mobile-contact-link :focus {
  color: #ffc01d;
}

.header__mobile-contact-link:hover > .header__mobile-contact-link-container-svg {
  background-color: #ffc01d;
}

.header__mobile-contact-link-container-svg {
  fill: #262c20;
  filter: drop-shadow(1px 1px #262c20);
  margin-right: 8px;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
}

.header {
  background: #9ed821;
}

.header__container {
  justify-content: center;
  display: flex;
  position: relative;
}

@media screen and (width >= 1440px) {
  .header__container {
    border-bottom: 1px solid #262c20;
    justify-content: space-between;
    align-items: center;
    height: 68px;
  }
}

.header__nav {
  display: none;
}

@media screen and (width >= 1440px) {
  .header__nav {
    display: block;
  }
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  position: relative;
}

.header__nav-item:not(:last-child) {
  margin-right: 20px;
}

.header__nav-item-active > a {
  color: #fff;
  mix-blend-mode: difference;
  position: relative;
}

.header__nav-item-active > a:hover, .header__nav-item-active > a :focus {
  color: #fff;
  mix-blend-mode: difference;
}

.header__nav-item-active:before {
  content: "";
  background-color: #262c20;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__nav-link {
  color: #262c20;
  font-family: Bellota Text;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
}

.header__nav-link:hover, .header__nav-link :focus {
  color: #ffc01d;
}

.header__logo-link {
  background: #9ed821;
  border: 4px solid #262c20;
  border-top-width: 0;
  border-radius: 0 0 8px 8px;
  padding: 13px 28px;
}

@media screen and (width >= 1440px) {
  .header__logo-link {
    border-width: 0 4px 4px;
    padding: 16px 28px;
    box-shadow: 5px 5px #262c20;
  }
}

.header__logo-img {
  width: 170px;
  height: 21px;
}

@media screen and (width >= 1440px) {
  .header__logo-img {
    width: 300px;
    height: 38px;
  }
}

.hamburger {
  z-index: 101;
  position: absolute;
  top: 16px;
  right: -16px;
}

@media screen and (width >= 1440px) {
  .hamburger {
    display: none;
  }
}

.header__contact {
  display: none;
}

@media screen and (width >= 1440px) {
  .header__contact {
    display: flex;
  }
}

.header__contact-link {
  color: #262c20;
  align-items: center;
  font-family: Bellota Text;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.header__contact-link:not(:last-child) {
  margin-right: 20px;
}

.header__contact-link:hover, .header__contact-link :focus {
  color: #ffc01d;
}

.header__contact-link:hover > .header__contact-link-container-svg {
  background-color: #ffc01d;
}

.header__contact-link-container-svg {
  fill: #262c20;
  filter: drop-shadow(1px 1px #262c20);
  border: 2px solid #262c20;
  margin-right: 8px;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
}

.header__contact-link-svg {
  width: 18px;
  height: 18px;
}

.header__lang {
  display: none;
  position: relative;
  overflow: hidden;
}

@media screen and (width >= 1440px) {
  .header__lang {
    display: block;
  }
}

.header__lang-active {
  overflow: visible;
}

.header__lang-active .header__lang-container {
  background-color: #f2f6e6;
  border: 0 solid #262c20;
  border-width: 0 4px;
  border-radius: 8px 8px 0 0;
  box-shadow: 2px 2px #262c20;
}

.header__lang-active .header__lang-svg {
  fill: #ffc01d;
  transform: rotate(180deg);
}

.header__lang-active .header__lang-list {
  z-index: 3;
  transform: translate(0);
}

.header__lang-container {
  z-index: 3;
  background-color: #9ed821;
  align-items: center;
  width: 90px;
  height: 60px;
  padding-left: 10px;
  display: flex;
  position: relative;
}

.header__lang-container:hover > .header__lang-svg {
  fill: #ffc01d;
}

.header__lang-svg {
  width: 24px;
  height: 24px;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1);
}

.header__lang-flag {
  width: 36px;
  height: 24px;
  margin-right: 8px;
}

.header__lang-list {
  z-index: 2;
  background-color: #f2f6e6;
  border: 4px solid #262c20;
  border-top-width: 0;
  border-radius: 0 0 8px 8px;
  width: 90px;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1);
  position: absolute;
  top: 50px;
  transform: translate(0, -60%);
  box-shadow: 2px 2px #262c20;
}

.header__lang-item {
  padding: 10px;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
}

.header__lang-item:hover {
  background-color: #9ed821;
}

.header__lang-item:hover:last-child {
  border-radius: 0 0 4px 4px;
}

.hero {
  background-image: linear-gradient(#9ed821 50%, #262c20 50%);
}

@media screen and (width >= 1440px) {
  .hero {
    background-image: linear-gradient(#9ed821 57%, #262c20 50%);
    overflow: hidden;
  }
}

.hero__container {
  padding: 31px 0;
}

@media screen and (width >= 1440px) {
  .hero__container {
    justify-content: space-between;
    padding: 84px 29px 173px 5px;
    display: flex;
  }
}

.hero__h1-container {
  margin-bottom: 36px;
  position: relative;
}

.hero__h1-container:after {
  content: "";
  z-index: 2;
  background: url("arrow.33372fd1.svg") 0 0 / contain no-repeat;
  width: 72px;
  height: 117px;
  position: absolute;
  bottom: -10px;
  right: 10px;
  transform: translate(0, 100%);
}

@media screen and (width >= 1440px) {
  .hero__h1-container:after {
    width: 101px;
    height: 166px;
    bottom: 0;
    right: 0;
    transform: translate(84px, 127px);
  }

  .hero__h1-container {
    width: 730px;
  }
}

.hero__h1-img {
  width: 100%;
}

.hero__img {
  object-fit: contain;
  z-index: 1;
  border-radius: 8px;
  width: 100%;
  position: relative;
  box-shadow: 8px 12px 21px #00000030;
}

.hero__img-container {
  width: 330px;
  position: relative;
}

@media screen and (width >= 1440px) {
  .hero__img-container {
    flex-basis: 557px;
  }

  .hero__img-container:before {
    content: "";
    opacity: .3;
    z-index: 0;
    background: #fff;
    border-radius: 50%;
    width: 151px;
    height: 151px;
    display: block;
    position: absolute;
    top: 80px;
    left: -41px;
  }
}

.hero__flags-container {
  z-index: 2;
  background: #9ed821;
  border: 3px solid #262c20;
  border-radius: 6px;
  position: absolute;
  bottom: -32px;
  right: 6px;
}

@media screen and (width >= 1440px) {
  .hero__flags-container {
    bottom: -14px;
    right: -20px;
  }
}

.hero__flags-ul {
  padding: 18px 14px;
}

@media screen and (width >= 1440px) {
  .hero__flags-ul {
    padding: 28px 20px;
  }
}

.hero__flags-li > img {
  width: 32px;
  height: 21px;
}

@media screen and (width >= 1440px) {
  .hero__flags-li > img {
    width: 60px;
    height: 40px;
  }
}

.hero__flags-li:not(:last-child) {
  margin-bottom: 11px;
}

@media screen and (width >= 1440px) {
  .hero__flags-li:not(:last-child) {
    margin-bottom: 20px;
  }
}

.hero__info-container {
  display: none;
}

@media screen and (width >= 1440px) {
  .hero__info-container {
    width: 660px;
    margin-bottom: 15px;
    margin-left: 128px;
    display: block;
  }

  .hero__info-container-text {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }

  .hero__info-container-mobile {
    display: none;
  }
}

.hero__h2 {
  color: #9ed821;
  margin-top: 30px;
  margin-bottom: 16px;
  font-family: Bellota Text;
  font-size: 45px;
  font-weight: 700;
}

@media screen and (width >= 1440px) {
  .hero__h2 {
    margin-bottom: 28px;
    font-size: 64px;
    line-height: .75;
  }
}

.hero__info {
  color: #fff;
  font-family: Bellota Text;
  font-size: 22px;
  font-weight: 700;
}

@media screen and (width >= 1440px) {
  .hero__info {
    text-align: right;
    font-size: 32px;
  }
}

.services {
  background: #fff;
  padding: 80px 0;
  font-weight: 700;
}

@media screen and (width >= 1440px) {
  .services {
    padding: 160px 0;
    overflow: hidden;
  }
}

.services__h2 {
  color: #262c20;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: Libre Caslon Text;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.36;
}

@media screen and (width >= 1440px) {
  .services__h2 {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 1.33;
  }
}

.services__description {
  color: #262c20;
  text-align: center;
  margin-bottom: 36px;
  font-family: Bellota Text;
  font-size: 16px;
  line-height: 1.27;
}

@media screen and (width >= 1440px) {
  .services__description {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.67;
  }
}

.services__list {
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media screen and (width >= 1440px) {
  .services__list {
    flex-direction: row;
    justify-content: center;
  }
}

.services__item {
  background: #fff;
  border: 2px solid #262c20;
  border-radius: 16px;
  padding: 16px 20px 32px;
  box-shadow: 4px 4px #262c20;
}

.services__item:not(:last-child) {
  margin-bottom: 36px;
}

@media screen and (width >= 1440px) {
  .services__item {
    border: 4px solid #262c20;
    padding: 48px;
    box-shadow: 8px 8px #262c20;
  }

  .services__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 36px;
  }
}

.services__img {
  width: 100%;
}

.services__img-container {
  align-items: center;
  width: 280px;
  height: 240px;
  margin-bottom: 20px;
  display: flex;
}

@media screen and (width >= 1440px) {
  .services__img-container {
    width: 360px;
    height: 320px;
    margin-bottom: 24px;
  }
}

.services__info {
  color: #262c20;
  text-align: center;
  font-family: Libre Caslon Text;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.32;
  display: block;
}

@media screen and (width >= 1440px) {
  .services__info {
    font-size: 32px;
    line-height: 1.63;
  }
}

.services__info:after {
  content: url("devider.6d69b525.svg");
  width: 130px;
  height: 10px;
  margin: 0 auto;
  display: block;
}

@media screen and (width >= 1440px) {
  .services__info:after {
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 10px;
    margin-top: 16px;
    display: flex;
  }
}

.program {
  background: #9ed821;
  padding: 31px 0 77px;
  position: relative;
  overflow: hidden;
}

@media screen and (width >= 1440px) {
  .program {
    padding: 162px 0;
  }

  .program__container {
    align-items: center;
    display: flex;
  }
}

.program__h2 {
  font-size: 20px;
  line-height: 1.4;
}

.program__h2:after {
  width: 130px;
  margin: 20px auto 20px 0;
}

@media screen and (width >= 1440px) {
  .program__h2 {
    margin-bottom: 34px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.33;
  }

  .program__h2:after {
    width: 223px;
    margin: 20px auto 20px 0;
  }
}

.program__description {
  color: #262c20;
  margin-bottom: 37px;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
}

@media screen and (width >= 1440px) {
  .program__description {
    font-size: 24px;
    line-height: 1.67;
  }
}

.program__img-container {
  position: relative;
}

.program__img-container > img {
  z-index: 1;
  position: relative;
}

.program__img-container:after {
  content: "";
  opacity: .3;
  background: #fff;
  border-radius: 50%;
  width: 992px;
  height: 911px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, 13%);
}

@media screen and (width >= 1440px) {
  .program__img-container:after {
    width: 1240px;
    height: 1240px;
    transform: translate(16%, -23%);
  }
}

.program__img-mobile {
  display: block;
}

@media screen and (width >= 1440px) {
  .program__img-mobile {
    display: none;
  }
}

.program__img-desctop {
  display: none;
}

@media screen and (width >= 1440px) {
  .program__img-desctop {
    display: block;
  }
}

.description {
  padding: 95px 0 80px;
  overflow: hidden;
}

@media screen and (width >= 1440px) {
  .description {
    padding: 318px 0 160px;
  }
}

.description__h2 {
  text-transform: uppercase;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 1.36;
  position: relative;
}

@media screen and (width >= 1440px) {
  .description__h2 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1.33;
  }
}

.description__h2:before {
  content: "";
  background: url("star-hallo.803636f9.svg") 0 0 / contain no-repeat;
  width: 121px;
  height: 121px;
  position: absolute;
  top: -74px;
  right: 16px;
}

@media screen and (width >= 1440px) {
  .description__h2:before {
    width: 249px;
    height: 249px;
    top: -159px;
    right: -62px;
  }
}

.description__h2:after {
  width: 130px;
  margin: 20px auto 0 0;
}

@media screen and (width >= 1440px) {
  .description__h2:after {
    width: 223px;
  }
}

.description__h2-container {
  z-index: 1;
  border-bottom: 1px solid #262c20;
  padding-bottom: 28px;
  position: relative;
}

@media screen and (width >= 1440px) {
  .description__h2-container {
    justify-content: space-between;
    padding-bottom: 60px;
    display: flex;
  }
}

.description__h2-container:after {
  content: "";
  opacity: .3;
  background: #9ed821;
  border-radius: 331px;
  width: 331px;
  height: 331px;
  position: absolute;
  bottom: 95px;
  right: 0;
  transform: translate(118px, 100%);
}

@media screen and (width >= 1440px) {
  .description__h2-container:after {
    transform: translate(125px, 100%);
  }
}

.description__h2-text {
  color: #262c20;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  display: inline-block;
}

@media screen and (width >= 1440px) {
  .description__h2-text {
    width: 705px;
    font-size: 24px;
    line-height: 1.67;
  }
}

.description__wrapper {
  margin-top: 25px;
  position: relative;
}

.description__wrapper:after {
  content: "";
  opacity: .5;
  background: #ffc01d;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 372px;
  left: 0;
  transform: translate(-30px, 50%);
}

@media screen and (width >= 1440px) {
  .description__wrapper:after {
    top: 272px;
    left: auto;
    right: -49px;
    transform: translate(100%, 50%);
  }

  .description__wrapper {
    justify-content: space-between;
    margin-top: 60px;
    display: flex;
  }

  .description__wrapper-info {
    width: 708px;
  }
}

.description__text {
  z-index: 1;
  color: #262c20;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  position: relative;
}

.description__text:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (width >= 1440px) {
  .description__text {
    font-size: 20px;
    line-height: 1.75;
  }
}

.description__text-container {
  border-bottom: 1px solid #262c20;
  padding-bottom: 24px;
}

.description__languages-container {
  margin-top: 24px;
}

@media screen and (width >= 1440px) {
  .description__languages-container {
    display: flex;
  }
}

.description__languages-h2 {
  color: #262c20;
  text-align: center;
  margin-bottom: 28px;
  font-family: Libre Caslon Text;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.4;
}

@media screen and (width >= 1440px) {
  .description__languages-h2 {
    text-align: start;
    margin-bottom: 40px;
    font-size: 34px;
    line-height: 1.18;
  }
}

.description__languages-list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
  display: flex;
}

.description__languages-item {
  flex-direction: column;
  align-items: center;
  width: 151px;
  display: flex;
}

.description__languages-item:nth-child(n+3) {
  margin-top: 16px;
}

@media screen and (width >= 1440px) {
  .description__languages-item {
    flex-direction: row;
    align-items: normal;
    width: 220px;
  }

  .description__languages-item:nth-child(n+3) {
    margin-top: 40px;
  }
}

.description__languages-item-text {
  flex-direction: column;
  display: flex;
}

@media screen and (width >= 1440px) {
  .description__languages-item-text {
    align-items: flex-start;
  }
}

.description__languages-img {
  width: 70px;
  height: 46px;
  margin-bottom: 8px;
}

@media screen and (width >= 1440px) {
  .description__languages-img {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

.description__languages-language {
  color: #262c20;
  text-align: center;
  font-family: Bellota Text;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.28;
}

@media screen and (width >= 1440px) {
  .description__languages-language {
    font-size: 24px;
    line-height: 1.17;
  }
}

.description__languages-description {
  color: #262c20;
  text-align: center;
  font-family: Bellota Text;
  font-size: 14px;
  line-height: 1.18;
}

@media screen and (width >= 1440px) {
  .description__languages-description {
    line-height: 1.29;
  }
}

.description__languages-contact {
  justify-content: space-between;
  display: flex;
}

@media screen and (width >= 1440px) {
  .description__languages-contact {
    display: block;
  }
}

.description__languages-qr {
  background: #f2f6e6;
  border: 2.361px solid #262c20;
  border-radius: 10px;
  width: 202px;
  padding: 18px;
  box-shadow: 5px 5px #262c20;
}

.description__languages-qr-img {
  background-color: #fff;
  width: 100%;
  margin-bottom: 12px;
}

.description__languages-qr-info {
  color: #262c20;
  text-align: center;
  font-family: Libre Caslon Text;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  display: block;
}

.description__languages-btn-form {
  color: #262c20;
  text-align: center;
  letter-spacing: .475px;
  background-color: #ffc01d;
  border: 2px solid #262c20;
  border-radius: 8px;
  width: 100px;
  font-family: Bellota Text;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.31;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 4px 4px #262c20;
}

.description__languages-btn-form:hover, .description__languages-btn-form :focus {
  background-color: #9ed821;
}

@media screen and (width >= 1440px) {
  .description__languages-btn-form {
    display: none;
  }
}

.description__fedBack-container {
  display: none;
}

@media screen and (width >= 1440px) {
  .description__fedBack-container {
    z-index: 1;
    background: #fff;
    border: 4px solid #262c20;
    border-radius: 18px;
    flex-shrink: 0;
    width: 680px;
    padding: 30px;
    display: block;
    position: relative;
    box-shadow: 8px 8px #262c20;
  }
}

.license {
  background: #262c20;
  padding: 40px 0;
}

@media screen and (width >= 1440px) {
  .license {
    padding: 115px 0;
    overflow: hidden;
  }

  .license-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .license__text-container {
    width: 766px;
  }
}

.license__h2-container {
  margin-bottom: 23px;
  position: relative;
}

@media screen and (width >= 1440px) {
  .license__h2-container {
    width: 729px;
    margin-bottom: 0;
  }
}

.license__h2-img {
  width: 100%;
}

.license__description {
  color: #f2f6e6;
  margin-bottom: 23px;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.37;
}

@media screen and (width >= 1440px) {
  .license__description {
    margin-bottom: 0;
    margin-left: 114px;
    font-size: 24px;
    line-height: 1.67;
  }
}

.license__description:before {
  content: url("devider-white.b2652b18.svg");
  width: 130px;
  margin-bottom: 36px;
  display: block;
}

@media screen and (width >= 1440px) {
  .license__description:before {
    width: 223px;
    margin-bottom: 36px;
  }
}

.license__img {
  width: 100%;
}

@media screen and (width >= 1440px) {
  .license__img-container {
    width: 819px;
    margin-right: -106px;
  }
}

.customers {
  background-color: #fff;
  padding: 80px 0 0;
}

@media screen and (width >= 1440px) {
  .customers {
    padding: 160px 0;
  }
}

.customers__h2 {
  color: #262c20;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Libre Caslon Text;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.36;
}

@media screen and (width >= 1440px) {
  .customers__h2 {
    margin-bottom: 34px;
    font-size: 60px;
    line-height: 1.33;
  }

  .customers__h2:after {
    margin: 20px auto 0;
  }
}

.customers__description {
  color: #262c20;
  text-align: center;
  margin-bottom: 28px;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
}

@media screen and (width >= 1440px) {
  .customers__description {
    width: 705px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.67;
  }
}

.customers__container {
  overflow: hidden;
}

.customers__list {
  justify-content: normal;
  align-items: center;
  padding: 28px 0 80px;
  display: flex;
  overflow-x: auto;
}

.customers__list::-webkit-scrollbar {
  display: none;
}

@media screen and (width >= 1440px) {
  .customers__list {
    overflow-x: unset;
    justify-content: center;
    padding: 80px 0;
  }
}

.customers__item {
  background: #f2f6e6;
  border: 2px solid #262c20;
  border-radius: 6px;
  margin-right: 12px;
  box-shadow: 3px 3px #262c20;
}

@media screen and (width >= 1440px) {
  .customers__item {
    border: 4px solid #262c20;
    border-radius: 16px;
    flex-shrink: 0;
    margin-right: 32px;
    position: relative;
    overflow: hidden;
    box-shadow: 8px 8px #262c20;
  }

  .customers__item:hover .customers__info-container {
    transform: translate(0);
  }
}

.customers__img-container {
  padding: 18px;
}

@media screen and (width >= 1440px) {
  .customers__img-container {
    padding: 48px;
    position: relative;
  }

  .customers__img-container:after {
    content: "";
    background: url("elem-in-slider.b0e2036e.svg");
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
}

.customers__img {
  width: 85px;
  height: 60px;
}

@media screen and (width >= 1440px) {
  .customers__img {
    width: 232px;
    height: 163px;
  }
}

.customers__info-container {
  display: none;
}

@media screen and (width >= 1440px) {
  .customers__info-container {
    background: #a0d925;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: absolute;
    top: 0;
    transform: translate(98%, 98%);
  }
}

.customers__info-item {
  color: #262c20;
  font-family: Bellota Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.customers__info-item:not(:last-child) {
  margin-bottom: 18px;
}

.customers__info-svg {
  filter: drop-shadow(1px 1px #262c20);
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.customers__btn {
  display: none;
}

@media screen and (width >= 1440px) {
  .customers__btn {
    justify-content: center;
    display: flex;
  }

  .customers__btn-prev {
    margin-right: 60px;
  }

  .customers__btn-svg {
    fill: #f2f6e6;
    width: 77px;
    height: 77px;
    transition: fill .25s cubic-bezier(.4, 0, .2, 1);
  }

  .customers__btn-svg:hover {
    fill: #9ed821;
  }

  .customers__btn-svg:active {
    fill: #ffc01d;
  }
}

.footer {
  background: #262c20;
  overflow: hidden;
}

.footer__container {
  padding: 48px 0 34px;
}

@media screen and (width >= 1440px) {
  .footer__container {
    padding: 103px 0 78px;
    position: relative;
  }

  .footer__container:before {
    content: "";
    opacity: .5;
    opacity: .1;
    background: #9ed821;
    border-radius: 50%;
    width: 330px;
    height: 330px;
    position: absolute;
    top: -130px;
    right: -12px;
    transform: translate(100%);
  }

  .footer__container:after {
    content: "";
    opacity: .03;
    background: #9ed821;
    border-radius: 50%;
    width: 610px;
    height: 610px;
    position: absolute;
    top: 67px;
    left: -472px;
  }
}

.footer__container-info {
  padding-bottom: 33px;
  position: relative;
}

@media screen and (width >= 1440px) {
  .footer__container-info {
    justify-content: space-between;
    padding-bottom: 111px;
    display: flex;
  }

  .footer__container-info:after {
    content: "";
    opacity: .1;
    background: #ffc01d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 186px;
    right: -127px;
    transform: translate(100%, -50%);
  }

  .footer__text-container {
    width: 531px;
  }
}

.footer__text-h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-family: Libre Caslon Text;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.25;
}

@media screen and (width >= 1440px) {
  .footer__text-h2 {
    text-align: start;
    margin-bottom: 10px;
    font-size: 40px;
  }
}

.footer__text-span {
  color: #9ed821;
  margin-bottom: 20px;
  font-family: Bellota Text;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
}

@media screen and (width >= 1440px) {
  .footer__text-span {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.footer__text-text {
  display: none;
}

@media screen and (width >= 1440px) {
  .footer__text-text {
    color: #fff;
    font-family: Bellota Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.67;
    display: inline-block;
  }
}

.footer__nav {
  background: #313925;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 18px 16px;
  display: flex;
}

@media screen and (width >= 1440px) {
  .footer__nav {
    flex-direction: column;
    flex-wrap: unset;
    justify-content: unset;
    background: none;
    flex-shrink: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

.footer__nav-link {
  color: #fff;
  font-family: Bellota Text;
  font-size: 20px;
  font-weight: 700;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
}

.footer__nav-link:first-child {
  margin-bottom: 20px;
}

.footer__nav-link:hover, .footer__nav-link :focus {
  color: #ffc01d;
}

@media screen and (width >= 1440px) {
  .footer__nav-link {
    font-size: 24px;
  }

  .footer__nav-link:not(:last-child) {
    margin-bottom: 24px;
  }
}

.contact {
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
}

@media screen and (width >= 1440px) {
  .contact {
    flex-direction: column;
    flex-shrink: 0;
    justify-content: normal;
    margin-bottom: 0;
    margin-right: 30px;
  }

  .contact__container {
    margin-bottom: 44px;
  }
}

.contact__span {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: Libre Caslon Text;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.28;
  display: inline-block;
}

@media screen and (width >= 1440px) {
  .contact__span {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.67;
  }
}

.contact__addres {
  flex-direction: column;
  display: flex;
}

.contact__addres-link {
  color: #fff;
  align-items: center;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.contact__addres-link:hover, .contact__addres-link :focus {
  color: #ffc01d;
}

.contact__addres-link:hover > .contact__addres-link-container-svg {
  color: #ffc01d;
  background: #ffc01d;
}

.contact__addres-link:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (width >= 1440px) {
  .contact__addres-link {
    font-size: 24px;
  }

  .contact__addres-link:not(:last-child) {
    margin-bottom: 30px;
  }
}

.contact__addres-link-container-svg {
  fill: #262c20;
  filter: drop-shadow(2px 2px #fff);
  border: 2px solid #fff;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
}

@media screen and (width >= 1440px) {
  .contact__addres-link-container-svg {
    width: 40px;
    height: 40px;
  }
}

.contact__addres-link-svg, .header__mobile-contact-link-svg {
  width: 18px;
  height: 18px;
  display: block;
}

@media screen and (width >= 1440px) {
  .contact__addres-link-svg, .header__mobile-contact-link-svg {
    width: 24px;
    height: 24px;
  }

  .contact__list {
    display: flex;
  }
}

.contact__item {
  margin-right: 15px;
}

.contact__item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (width >= 1440px) {
  .contact__item {
    margin-right: 0;
  }

  .contact__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 5px;
  }
}

.footer__btn-up {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.footer__btn-up-svg {
  fill: #262c20;
  width: 65px;
  height: 48px;
  transition: fill .25s cubic-bezier(.4, 0, .2, 1);
}

.footer__btn-up-svg:hover {
  fill: #fff;
}

@media screen and (width >= 1440px) {
  .footer__btn-up-svg {
    width: 111px;
    height: 82px;
  }
}

.creator {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #fff6;
  border-bottom: 1px solid #fff6;
  font-family: Libre Caslon Text;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
}

@media screen and (width >= 1440px) {
  .creator {
    text-align: start;
    line-height: 1.67;
  }
}

.creator__info {
  margin-top: 57px;
  margin-bottom: 33px;
}

@media screen and (width >= 1440px) {
  .creator__info {
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 48px;
    display: flex;
  }
}

.creator__info > div {
  margin-bottom: 28px;
}

@media screen and (width >= 1440px) {
  .creator__info > div {
    margin-bottom: 0;
  }
}

.creator__info-design-container, .creator__info-develop-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media screen and (width >= 1440px) {
  .creator__info-design-container, .creator__info-develop-container {
    align-items: normal;
  }
}

.creator__info-design-text, .creator__hosting-h2, .creator__info-develop-text {
  margin-bottom: 4px;
  font-size: 16px;
}

@media screen and (width >= 1440px) {
  .creator__info-design-text, .creator__hosting-h2, .creator__info-develop-text {
    font-size: 24px;
  }
}

.creator__info-design-link, .creator__info-develop-link, .creator__info-design-link-el {
  color: #9ed821;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 1.4;
  text-decoration-line: underline;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
}

@media screen and (width >= 1440px) {
  .creator__info-design-link, .creator__info-develop-link, .creator__info-design-link-el {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.63;
  }
}

.creator__info-design-link:hover, .creator__info-develop-link:hover, .creator__info-design-link-el:hover, .creator__info-design-link :focus, .creator__info-develop-link :focus, .creator__info-design-link-el :focus {
  color: #ffc01d;
}

.creator__info-design-link-el {
  margin: 0 5px;
  text-decoration-line: none;
}

.creator__info-design-link-el:hover, .creator__info-design-link-el :focus {
  color: #9ed821;
}

.creator__hosting-h2 {
  margin-bottom: 13px;
}

@media screen and (width >= 1440px) {
  .creator__hosting-h2 {
    margin-bottom: 20px;
  }
}

.creator__hosting-link {
  width: 192px;
  height: 36px;
  display: inline-block;
}

@media screen and (width >= 1440px) {
  .creator__hosting-link {
    width: 240px;
    height: 45px;
  }
}

.creator__hosting-link:hover + .creator__hosting-h2 {
  color: #ffc01d;
}

.creator__hosting-img {
  width: 100%;
}

.footer__copy {
  color: #fff;
  text-align: center;
  opacity: .7;
  margin-top: 33px;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  display: block;
}

@media screen and (width >= 1440px) {
  .footer__copy {
    margin-top: 48px;
    font-size: 18px;
  }
}

.modal-form__container-scroll {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.modal-form__container {
  background: #f2f6e6;
  border: 2px solid #262c20;
  border-radius: 18px;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
  position: relative;
  top: 20px;
  box-shadow: 4px 4px #262c20;
}

.modal-form__btn-close {
  z-index: 102;
  background-color: #262c20;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
}

.modal-form__btn-close-svg {
  fill: #f2f6e6;
  width: 20px;
  height: 20px;
}

.modal-form__body-h2 {
  color: #262c20;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-family: Libre Caslon Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
}

.modal-form__body-h2:after {
  content: url("devider.6d69b525.svg");
  flex-direction: column;
  justify-content: center;
  width: 112px;
  height: 8px;
  margin: 12px auto 0;
  display: flex;
}

.modal-form__body-text {
  color: #262c20;
  text-align: center;
  font-family: Bellota Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.43;
}

.modal-form__form {
  flex-direction: column;
  margin-top: 24px;
  display: flex;
}

.modal-form__form-field-container {
  margin-bottom: 12px;
}

.modal-form__form > label > textarea {
  resize: none;
}

.modal-form__form-wraper {
  margin-bottom: 12px;
}

.modal-form__form-wraper > label {
  display: inline-block;
}

.modal-form__form-wraper > label:not(:last-child) {
  margin-bottom: 12px;
}

.modal-form__form-field, .modal-form__form-field-container {
  color: #262c20;
  font-family: Libre Caslon Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-form__form-field:not(:nth-last-child(-n+3)), .modal-form__form-field-container:not(:nth-last-child(-n+3)) {
  margin-bottom: 12px;
}

.modal-form__form-field-container {
  display: flex;
}

.modal-form__form-input, .modal-form__form-field-spam-input {
  color: #262c20;
  background: #fff;
  border: 1px solid #262c20;
  border-radius: 12px;
  outline: none;
  width: 100%;
  height: 40px;
  margin-top: 7px;
  padding: 0 18px;
  font-family: Bellota Text;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.7;
  transition: border-color .25s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 1px 1px #262c20;
}

.modal-form__form-input:placeholder-shown, .modal-form__form-field-spam-input:placeholder-shown {
  border: 1px solid #262c20;
  box-shadow: 1px 1px #262c20;
}

.modal-form__form-input::placeholder, .modal-form__form-field-spam-input::placeholder {
  opacity: 0;
}

.modal-form__form-input:focus::placeholder, .modal-form__form-field-spam-input:focus::placeholder {
  opacity: 1;
}

.modal-form__form-field-label-radio {
  margin-left: 21px;
  display: flex;
}

.modal-form__form-field-male-svg, .modal-form__form-field-female-svg {
  cursor: pointer;
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transition: fill .25s cubic-bezier(.4, 0, .2, 1);
}

.modal-form__form-field-checkbox-label {
  color: #262c20;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Bellota Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.modal-form__form-field-checkbox-container-svg {
  border: 3px solid #000;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  margin-right: 16px;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  overflow: hidden;
}

.modal-form__form-field-checkbox-svg {
  fill: #f2f6e6;
  width: 20px;
  height: 20px;
  margin-left: -1px;
  transition: fill .25s cubic-bezier(.4, 0, .2, 1);
}

.modal-form__form-field-checkbox:checked + .modal-form__form-field-checkbox-container-svg {
  background-color: #9ed821;
}

.modal-form__form-field-checkbox:checked + .modal-form__form-field-checkbox-container-svg > svg {
  fill: #000;
}

.modal-form__form-field-spam-conteiner {
  color: #262c20;
  margin-bottom: 32px;
  font-family: Libre Caslon Text;
  font-size: 16px;
}

.modal-form__form-field-spam-header {
  margin-bottom: 10px;
  display: inline-block;
}

.modal-form__form-field-spam-label {
  align-items: center;
  display: flex;
}

.modal-form__form-field-spam-numb {
  font-weight: 400;
}

.modal-form__form-field-spam-input {
  background: #fff;
  border: 2px solid #262c20;
  border-radius: 9px;
  width: 92px;
  height: 44px;
  margin: 0 10px;
  box-shadow: 1.751px 1.751px #262c20;
}

.modal-form__form-field-spam-input::placeholder {
  font-size: 14px;
}

.modal-form__form-field-spam-text {
  color: #262c20;
  font-family: Bellota Text;
  font-size: 12px;
  font-weight: 400;
}

.modal-form__form-submit-btn {
  background: #ffc01d;
  border: 2px solid #262c20;
  border-radius: 11px;
  width: 100%;
  padding: 14px 38px;
  font-size: 24px;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 2px 2px #1c2116;
}

.modal-form__form-submit-btn:hover {
  background: #9ed821;
}

.header-contact, .header-contact .header__lang-container, .header-contact .header__contact-link-container-svg {
  background-color: #fff;
}

.contact-main {
  overflow-x: hidden;
}

.contact-main__text-nav {
  color: #262c20;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 18px;
  font-family: Libre Caslon Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
}

@media screen and (width >= 1440px) {
  .contact-main__text-nav {
    margin-top: 40px;
    margin-bottom: 83px;
    font-size: 24px;
    line-height: 1.67;
  }
}

.contact-main__text-nav-span-home {
  opacity: .6;
}

.contact-main__hero {
  background-image: linear-gradient(#fff 10%, #9ed821 10% 66%, #fff 66% 100%);
  padding-bottom: 80px;
}

@media screen and (width >= 1440px) {
  .contact-main__hero {
    background-image: linear-gradient(#fff 35%, #9ed821 35% 100%);
    padding-bottom: 84px;
  }
}

.contact-main__hero-h2 {
  color: #262c20;
  text-transform: uppercase;
  margin-bottom: 70px;
  font-family: Libre Caslon Text;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

.contact-main__hero-h2:after {
  margin: 20px auto 0 0;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-h2 {
    width: 706px;
    margin-bottom: 128px;
    font-size: 60px;
    line-height: 1.33;
  }

  .contact-main__hero-h2:after {
    margin: 30px auto 0 0;
  }
}

.contact-main__hero-wraper {
  position: relative;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-wraper {
    justify-content: space-between;
    display: flex;
  }
}

.contact-main__hero-wraper:after {
  content: "";
  opacity: .3;
  background: #fff;
  border-radius: 50%;
  width: 221px;
  height: 221px;
  position: absolute;
  top: 552px;
  left: -95px;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-wraper:after {
    width: 387px;
    height: 387px;
    inset: auto -135px -142px auto;
  }
}

.contact-main__hero-wraper:before {
  content: "";
  opacity: .5;
  background: #ffc01d;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 552px;
  right: 116px;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-wraper:before {
    width: 60px;
    height: 60px;
    top: 571px;
    right: -40px;
    transform: translateX(100%);
  }
}

.contact-main__hero-contact-container {
  margin-bottom: 103px;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-contact-container {
    margin-bottom: 0;
  }
}

.contact-main__hero-contact-item {
  align-items: center;
  display: flex;
}

.contact-main__hero-contact-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-contact-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.contact-main__hero-contact-item-span-container {
  color: #262c20;
  flex-direction: column;
  font-family: Libre Caslon Text;
  display: flex;
}

.contact-main__hero-contact-item-span {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.78;
}

.contact-main__hero-contact-item-span:first-child {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-contact-item-span:first-child {
    font-size: 24px;
    line-height: 1.67;
  }

  .contact-main__hero-contact-item-span {
    font-size: 32px;
    line-height: 1.63;
  }
}

.contact-main__hero-contact-span-svg {
  filter: drop-shadow(2px 1px #262c20);
  background-color: #f2f6e6;
  border: 2px solid #262c20;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin-right: 24px;
  display: flex;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-contact-span-svg {
    filter: drop-shadow(2px 2px #262c20);
    width: 56px;
    height: 56px;
  }
}

.contact-main__hero-contact-svg {
  width: 26px;
  height: 26px;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-contact-svg {
    width: 32px;
    height: 32px;
  }
}

.contact-main__hero-contact-form-container {
  z-index: 1;
  background: #f2f6e6;
  border: 2px solid #262c20;
  border-radius: 18px;
  padding: 30px 20px;
  position: relative;
  box-shadow: 4px 4px #262c20;
}

.contact-main__hero-contact-form-container:before {
  content: "";
  background: url("decorMobileKontact.a5d80431.svg") 0 0 / contain no-repeat;
  width: 120px;
  height: 63px;
  position: absolute;
  top: -33px;
  right: -15px;
}

@media screen and (width >= 1440px) {
  .contact-main__hero-contact-form-container {
    background: #fff;
    border: 4px solid #262c20;
    flex-shrink: 0;
    width: 680px;
    padding: 60px 30px;
    box-shadow: 8px 8px #262c20;
  }

  .contact-main__hero-contact-form-container:before {
    background: url("decorDesctopKontact.ea76fefe.svg") no-repeat;
    width: 337px;
    height: 177px;
    top: -94px;
    right: -40px;
  }
}

.contact-main__map {
  margin-bottom: 80px;
}

@media screen and (width >= 1440px) {
  .contact-main__map {
    margin-top: 160px;
    margin-bottom: 160px;
  }
}

.contact-main__map-h2 {
  color: #262c20;
  margin-bottom: 20px;
  font-family: Libre Caslon Text;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
}

@media screen and (width >= 1440px) {
  .contact-main__map-h2 {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 1.33;
  }
}

.contact-main__map-map-container {
  width: 100%;
  height: 560px;
}

@media screen and (width >= 1440px) {
  .contact-main__map-map-container {
    height: 700px;
  }
}

.contact-main__map-span {
  color: #9ed821;
  margin-top: 20px;
  font-family: Bellota Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  display: inline-block;
}

@media screen and (width >= 1440px) {
  .contact-main__map-span {
    margin-top: 40px;
    font-size: 24px;
    line-height: 1.68;
  }
}

/*# sourceMappingURL=contact.dda6fa14.css.map */
