:root {
  --main-green: #9ed821;
  --black: #262c20;
  --hamburger: #292d32;
  --hamburger-open: var(--hamburger);
  --white: #fff;
  --libre: Libre Caslon Text;
  --belota: Bellota Text;
  --light: #f2f6e6;
  --orangen: #ffc01d;
}

.visually-hidden {
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  transition: clip-path .25s cubic-bezier(.4, 0, .2, 1);
  position: absolute;
  overflow: hidden;
}

.modal-form__form-input:invalid, .modal-form__form-field-spam-input:invalid {
  border: 2px solid #ffc01d;
  border-radius: 14px;
  box-shadow: 1.751px 1.751px #ffc01d;
}

.modal-form__form-input:valid, .modal-form__form-field-spam-input:valid {
  border: 2px solid #9ed821;
  border-radius: 14px;
  box-shadow: 1.751px 1.751px #9ed821;
}

.modal-form__form-input:valid:after, .modal-form__form-field-spam-input:valid:after {
  content: "";
}

.modal-form__form-input:hover, .modal-form__form-input :focus, .modal-form__form-field-spam-input:hover, .modal-form__form-field-spam-input :focus {
  border: 2px solid #262c20;
  border-radius: 14px;
  text-decoration: none;
  box-shadow: 1.751px 1.751px #262c20;
}

.modal-form__form-field-female-radio:checked + .modal-form__form-field-female-svg, .modal-form__form-field-male-radio:checked + .modal-form__form-field-male-svg {
  fill: #9ed821;
}

.modal-form__form-field-female-radio:focus-visible + .modal-form__form-field-female-svg, .modal-form__form-field-male-radio:focus-visible + .modal-form__form-field-male-svg {
  border: 3px solid #000;
  border-radius: 40%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

.modal-form__container-scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#9ed82187, #262c2072, #9ed82187);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#9ed82187, #262c2072, #9ed82187);
  border-radius: 5px;
}

.modal-form__container-scroll::-webkit-scrollbar {
  width: .6em;
}

body::-webkit-scrollbar {
  width: .6em;
}

.contact__addres-link-container-svg, .header__mobile-contact-link-container-svg {
  background: #9ed821;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  display: flex;
}

.container {
  width: 360px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (width >= 360px) {
  .container {
    width: 360px;
  }
}

@media screen and (width >= 1366px) {
  .container {
    width: 1366px;
  }
}

.hamburger {
  z-index: 11;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: #0000;
  border: 0;
  margin: 0;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  display: inline-block;
  overflow: visible;
}

.hamburger:hover {
  opacity: .7;
}

@media screen and (width >= 1366px) {
  .hamburger {
    display: none;
  }
}

.hamburger.burger-active:hover {
  opacity: .7;
}

.hamburger.burger-active .hamburger-inner, .hamburger.burger-active .hamburger-inner:before, .hamburger.burger-active .hamburger-inner:after {
  background-color: var(--hamburger-open);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  margin-top: -2px;
  display: block;
  top: 50%;
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
  background-color: var(--hamburger);
  border-radius: 4px;
  width: 30px;
  height: 4px;
  transition-property: transform, -webkit-transform;
  transition-duration: .15s;
  transition-timing-function: ease;
  position: absolute;
}

.hamburger-inner:before, .hamburger-inner:after {
  content: "";
  display: block;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color .125s ease-in .175s;
}

.hamburger--emphatic .hamburger-inner:before {
  transition: transform .125s cubic-bezier(.6, .04, .98, .335), top 50ms linear .125s, left .125s ease-in .175s, -webkit-transform .125s cubic-bezier(.6, .04, .98, .335);
  left: 0;
}

.hamburger--emphatic .hamburger-inner:after {
  transition: transform .125s cubic-bezier(.6, .04, .98, .335), top 50ms linear .125s, right .125s ease-in .175s, -webkit-transform .125s cubic-bezier(.6, .04, .98, .335);
  top: 10px;
  right: 0;
}

.hamburger--emphatic.burger-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: #0000 !important;
}

.hamburger--emphatic.burger-active .hamburger-inner:before {
  transition: left .125s ease-out, top 50ms linear .125s, transform .125s cubic-bezier(.075, .82, .165, 1) .175s, -webkit-transform .125s cubic-bezier(.075, .82, .165, 1) .175s;
  top: -80px;
  left: -80px;
  transform: translate3d(80px, 80px, 0)rotate(45deg);
}

.hamburger--emphatic.burger-active .hamburger-inner:after {
  transition: right .125s ease-out, top 50ms linear .125s, transform .125s cubic-bezier(.075, .82, .165, 1) .175s, -webkit-transform .125s cubic-bezier(.075, .82, .165, 1) .175s;
  top: -80px;
  right: -80px;
  transform: translate3d(-80px, 80px, 0)rotate(-45deg);
}

.backdrop {
  z-index: 100;
  background-color: #262c2099;
  width: 100vw;
  height: 100vh;
  transition: opacity .25s cubic-bezier(.4, 0, .2, 1), vissibility .25s cubic-bezier(.4, 0, .2, 1);
  position: fixed;
  top: 0;
  left: 0;
}

.header__mobile-modal {
  background: #f2f6e6;
  border: 4px solid #262c20;
  border-radius: 8px 0 0 8px;
  width: 300px;
  height: 640px;
  margin-left: auto;
  margin-right: -16px;
  overflow-x: hidden;
  overflow-y: auto;
}

.header__logo-modal-container {
  background-color: #9ed821;
  justify-content: center;
  height: 50px;
  display: flex;
}

.header__logo-modal-link {
  background: #9ed821;
  border: 4px solid #262c20;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 70px;
  padding: 24px 20px;
  display: flex;
}

.header__logo-img-modal {
  width: 170px;
  height: 21.5px;
}

.header__mobile-nav {
  flex-direction: column;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 41px;
  display: flex;
}

.header__mobile-nav-item {
  z-index: 1;
  justify-content: center;
  display: flex;
  position: relative;
}

.header__mobile-nav-item:not(:last-child) {
  margin-bottom: 30px;
}

.header__mobile-nav-item-active:before {
  content: "";
  z-index: 0;
  background-color: #9ed821;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__mobile-nav-link {
  color: #262c20;
  font-family: Bellota Text;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
  position: relative;
}

.header__mobile-nav-link:hover {
  color: #ffc01d;
}

.header__mobile-lang {
  background-color: #9ed821;
  height: 71px;
  box-shadow: 0 4px #262c20;
}

.header__mobile-lang-container {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 21px 12px 15px;
  display: flex;
}

.header__mobile-lang-container:hover > .header__mobile-lang-svg {
  fill: #ffc01d;
}

.header__mobile-lang-clear {
  align-items: center;
  display: flex;
}

.header__mobile-lang-flag {
  width: 36px;
  height: 24px;
}

.header__mobile-lang-name {
  color: #262c20;
  margin-left: 28px;
  margin-right: 28px;
  font-family: Bellota Text;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
}

.header__mobile-lang-svg {
  width: 24px;
  height: 24px;
  transition: fill .25s cubic-bezier(.4, 0, .2, 1);
}

.header__mobile-lang-svg-active {
  transform: rotate(180deg);
}

.header__mobile-lang-list {
  z-index: 1;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1);
  position: relative;
  box-shadow: 0 4px #262c20;
}

.header__mobile-lang-item {
  background-color: #f2f6e6;
  width: 300px;
  padding: 5px 40px;
}

.header__mobile-lang-item:active > .header__mobile-lang-name, .header__mobile-lang-item:hover > .header__mobile-lang-name {
  color: #ffc01d;
}

.header__mobile-contact {
  margin-top: 35px;
  margin-bottom: 35px;
}

.header__mobile-contact-link {
  color: #262c20;
  align-items: center;
  margin-left: 8px;
  font-family: Bellota Text;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.header__mobile-contact-link:not(:last-child) {
  margin-bottom: 30px;
}

.header__mobile-contact-link:hover, .header__mobile-contact-link :focus {
  color: #ffc01d;
}

.header__mobile-contact-link:hover > .header__mobile-contact-link-container-svg {
  background-color: #ffc01d;
}

.header__mobile-contact-link-container-svg {
  fill: #262c20;
  filter: drop-shadow(1px 1px #262c20);
  margin-right: 8px;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
}

.header {
  background: #9ed821;
  height: 50px;
}

.header__container {
  justify-content: center;
  display: flex;
  position: relative;
}

.header__nav {
  display: none;
}

.header__logo-link {
  background: #9ed821;
  border: 4px solid #262c20;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  width: 226px;
  height: 56px;
  margin-top: -4px;
  padding: 20px 28px;
}

.header__logo-img {
  width: 170px;
  height: 21px;
}

.hamburger {
  z-index: 101;
  position: absolute;
  top: 16px;
  right: -16px;
}

.hero {
  background-image: linear-gradient(#9ed821 50%, #262c20 50%);
}

.hero__h1-container {
  margin-bottom: 36px;
  padding-top: 20px;
  position: relative;
}

.hero__h1-container:after {
  content: url("arrow.33372fd1.svg");
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);
}

.hero__h1-img {
  width: 100%;
}

.hero__img {
  object-fit: contain;
  border-radius: 8px;
  width: 330px;
  box-shadow: 8px 12px 21px #00000030;
}

.hero__img-container {
  position: relative;
}

.hero__flags-container {
  background: #9ed821;
  border: 3px solid #262c20;
  border-radius: 6px;
  position: absolute;
  bottom: -32px;
  right: 6px;
}

.hero__flags-ul {
  padding: 18px 14px;
}

.hero__flags-li > img {
  width: 32px;
  height: 21px;
}

.hero__flags-li:not(:last-child) {
  margin-bottom: 11px;
}

.hero__h2 {
  color: #9ed821;
  margin-top: 30px;
  margin-bottom: 16px;
  font-family: Bellota Text;
  font-size: 45px;
  font-weight: 700;
}

.hero__info {
  color: #fff;
  padding-bottom: 31px;
  font-family: Bellota Text;
  font-size: 22px;
  font-weight: 700;
}

.services {
  background: #fff;
  padding: 80px 0;
  font-weight: 700;
}

.services__h2 {
  color: #262c20;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-family: Libre Caslon Text;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.36;
}

.services__description {
  color: #262c20;
  text-align: center;
  margin-bottom: 36px;
  font-family: Bellota Text;
  font-size: 16px;
  line-height: 1.27;
}

.services__list {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.services__item {
  background: #fff;
  border: 2px solid #262c20;
  border-radius: 16px;
  padding: 16px 20px 32px;
  box-shadow: 4px 4px #262c20;
}

.services__item:not(:last-child) {
  margin-bottom: 36px;
}

.services__img {
  width: 280px;
  height: 240px;
  margin-bottom: 20px;
}

.services__info {
  color: #262c20;
  text-align: center;
  font-family: Libre Caslon Text;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.32;
  display: block;
}

.services__info:after {
  content: url("vector-4.d1703428.svg");
  display: block;
}

.program {
  background: #9ed821;
  padding-top: 31px;
  padding-bottom: 77px;
  position: relative;
  overflow: hidden;
}

.program__description {
  color: #262c20;
  margin-bottom: 37px;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
}

.program__img-container {
  position: relative;
}

.program__img-container > img {
  z-index: 1;
  position: relative;
}

.program__img-container:after {
  content: "";
  opacity: .3;
  background: #fff;
  border-radius: 50%;
  width: 992px;
  height: 911px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, 13%);
}

.program__h2, .description__h2, .customers__h2, .services__h2 {
  color: #262c20;
  margin-bottom: 12px;
  font-family: Libre Caslon Text;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.28;
}

.program__h2:after, .description__h2:after, .customers__h2:after, .services__h2:after {
  content: url("vector-4.d1703428.svg");
  margin-top: 12px;
  display: block;
}

.description {
  padding-top: 95px;
  overflow: hidden;
}

.description__h2 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.36;
  position: relative;
}

.description__h2:before {
  content: "";
  background: url("star-hallo.803636f9.svg") 0 0 / contain no-repeat;
  width: 121px;
  height: 121px;
  position: absolute;
  bottom: 50%;
  right: 16px;
}

.description__h2-container {
  z-index: 1;
  border-bottom: 1px solid #262c20;
  position: relative;
}

.description__h2-container:after {
  content: "";
  opacity: .3;
  background: #9ed821;
  border-radius: 331px;
  width: 331px;
  height: 331px;
  position: absolute;
  bottom: 95px;
  right: 0;
  transform: translate(118px, 100%);
}

.description__text {
  z-index: 1;
  color: #262c20;
  margin-bottom: 16px;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  position: relative;
}

.description__text:first-child {
  margin-top: 24px;
}

.description__text:last-child {
  margin-bottom: 24px;
}

.description__text-container {
  z-index: 1;
  border-bottom: 1px solid #262c20;
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
}

.description__text-container:after {
  content: "";
  opacity: .5;
  background: #ffc01d;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-30px, -49px);
}

.languages {
  background-color: #fff;
  padding-bottom: 80px;
}

.languages__h2 {
  color: #262c20;
  text-align: center;
  margin-bottom: 28px;
  font-family: Libre Caslon Text;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.4;
}

.languages__list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
  display: flex;
}

.languages__item {
  flex-direction: column;
  align-items: center;
  width: 151px;
  margin-bottom: 16px;
  display: flex;
}

.languages__img {
  width: 70px;
  height: 46px;
  margin-bottom: 8px;
}

.languages__language {
  color: #262c20;
  text-align: center;
  font-family: Bellota Text;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.28;
}

.languages__description {
  color: #262c20;
  text-align: center;
  font-family: Bellota Text;
  font-size: 14px;
  line-height: 1.18;
}

.languages__contact {
  justify-content: space-between;
  margin-top: -16px;
  display: flex;
}

.languages__qr {
  background: #f2f6e6;
  border: 2.361px solid #262c20;
  border-radius: 10px;
  width: 200px;
  padding: 18px;
  box-shadow: 5px 5px #262c20;
}

.languages__qr-img {
  background-color: #fff;
  margin-bottom: 12px;
}

.languages__qr-info {
  color: #262c20;
  text-align: center;
  font-family: Libre Caslon Text;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  display: block;
}

.languages__btn-form {
  color: #262c20;
  text-align: center;
  letter-spacing: .475px;
  background-color: #ffc01d;
  border: 2px solid #262c20;
  border-radius: 8px;
  width: 100px;
  font-family: Bellota Text;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.31;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 4px 4px #262c20;
}

.languages__btn-form:hover, .languages__btn-form :focus {
  background-color: #9ed821;
}

.license {
  background: #262c20;
  padding-top: 40px;
  padding-bottom: 40px;
}

.license__h2-container {
  margin-bottom: 36px;
  position: relative;
}

.license__h2-container:after {
  content: url("vector-4-2.97ed1420.svg");
  display: block;
  position: relative;
}

.license__h2-img {
  width: 100%;
  margin-bottom: 23px;
}

.license__description {
  color: #f2f6e6;
  margin-bottom: 23px;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
}

.customers {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.customers__h2 {
  color: #262c20;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Libre Caslon Text;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.36;
}

.customers__description {
  color: #262c20;
  text-align: center;
  margin-bottom: 28px;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
}

.customers__list {
  padding-bottom: 3px;
  display: flex;
  overflow-x: auto;
}

.customers__list::-webkit-scrollbar {
  display: none;
}

.customers__item {
  background: #f2f6e6;
  border: 1.463px solid #262c20;
  border-radius: 5.854px;
  min-width: 120px;
  height: 95px;
  margin-right: 12px;
  position: relative;
  box-shadow: 2.927px 2.927px #262c20;
}

.customers__img-container {
  min-width: 100%;
  padding: 18px;
}

.customers__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.customers__btn-svg {
  fill: #f2f6e6;
  width: 77px;
  height: 77px;
}

.customers__btn-svg:hover {
  fill: #9ed821;
}

.customers__btn-svg:active {
  fill: #ffc01d;
}

.footer {
  background: #262c20;
  padding-top: 40px;
  padding-bottom: 28px;
}

.footer__container-info {
  padding-bottom: 33px;
  position: relative;
}

.footer__h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-family: Libre Caslon Text;
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
}

.footer__span-loc {
  color: #9ed821;
  margin-bottom: 20px;
  font-family: Bellota Text;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
}

.footer__nav {
  background: #313925;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 18px 16px;
  display: flex;
}

.footer__nav-link {
  color: #fff;
  font-family: Bellota Text;
  font-size: 20px;
  font-weight: 700;
}

.footer__nav-link:first-child {
  margin-bottom: 20px;
}

.footer__nav-link:hover, .footer__nav-link :focus {
  color: #ffc01d;
}

.contact {
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
}

.contact__span {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: Libre Caslon Text;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.28;
  display: inline-block;
}

.contact__addres {
  flex-direction: column;
  display: flex;
}

.contact__addres-link {
  color: #fff;
  align-items: center;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  display: flex;
}

.contact__addres-link:hover, .contact__addres-link :focus {
  color: #ffc01d;
}

.contact__addres-link:hover > .contact__addres-link-container-svg {
  color: #ffc01d;
  background: #ffc01d;
}

.contact__addres-link:not(:last-child) {
  margin-bottom: 16px;
}

.contact__addres-link-container-svg {
  fill: #262c20;
  filter: drop-shadow(1px 1px #fff);
}

.contact__addres-link-svg, .header__mobile-contact-link-svg {
  width: 18px;
  height: 18px;
  display: block;
}

.contact__item {
  margin-right: 15px;
}

.contact__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__btn-up {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.footer__btn-up-svg {
  fill: #262c20;
  width: 65px;
  height: 48px;
}

.footer__btn-up-svg:hover {
  fill: #fff;
}

.creator {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #fff6;
  border-bottom: 1px solid #fff6;
  font-family: Libre Caslon Text;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
}

.creator__info {
  margin-top: 57px;
}

.creator__info-design-container, .creator__info-develop-container {
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
  display: flex;
}

.creator__info-design-text, .creator__hosting-h2, .creator__info-develop-text {
  margin-bottom: 4px;
  font-size: 16px;
}

.creator__info-design-link, .creator__info-develop-link {
  color: #9ed821;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 1.4;
  text-decoration-line: underline;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
}

.creator__info-design-link:hover, .creator__info-develop-link:hover, .creator__info-design-link :focus, .creator__info-develop-link :focus {
  color: #ffc01d;
}

.creator__hosting-container {
  margin-bottom: 33px;
}

.creator__hosting-h2 {
  margin-bottom: 13px;
}

.creator__hosting-link {
  width: 192px;
  height: 36px;
  display: inline-block;
}

.creator__hosting-link:hover + .creator__hosting-h2 {
  color: #ffc01d;
}

.footer__copy {
  color: #fff;
  text-align: center;
  opacity: .7;
  font-family: Bellota Text;
  font-size: 16px;
  font-weight: 700;
  display: block;
}

.modal-form__container-scroll {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.modal-form__container {
  background: #f2f6e6;
  border: 2px solid #262c20;
  border-radius: 18px;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
  position: relative;
  top: 20px;
  box-shadow: 4px 4px #262c20;
}

.modal-form__btn-close {
  z-index: 102;
  background-color: #262c20;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
}

.modal-form__btn-close-svg {
  fill: #f2f6e6;
  width: 20px;
  height: 20px;
}

.modal-form__body {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.modal-form__body-h2 {
  color: #262c20;
  text-align: center;
  text-transform: uppercase;
  font-family: Libre Caslon Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
}

.modal-form__body-h2:after {
  content: url("vector-4.d1703428.svg");
  display: block;
}

.modal-form__body-text {
  color: #262c20;
  text-align: center;
  font-family: Bellota Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.43;
}

.modal-form__form {
  flex-direction: column;
  margin-top: 24px;
  display: flex;
}

.modal-form__form > label {
  margin-top: 12px;
}

.modal-form__form > label:last-child {
  margin-top: 16px;
}

.modal-form__form > label > textarea {
  resize: none;
}

.modal-form__form__submit-btn {
  background: #ffc01d;
  border: 2px solid #262c20;
  border-radius: 11.379px;
  margin-top: 32px;
  padding: 14px 38px;
  box-shadow: 2px 2px #1c2116;
}

.modal-form__form__submit-btn:hover {
  background: #9ed821;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
}

.modal-form__form-field, .modal-form__form-field-container {
  color: #262c20;
  font-family: Libre Caslon Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-form__form-field-container {
  display: flex;
}

.modal-form__form-input, .modal-form__form-field-spam-input {
  color: #262c20;
  background: #fff;
  border: 1px solid #262c20;
  border-radius: 12px;
  outline: none;
  width: 100%;
  height: 40px;
  margin-top: 7px;
  padding: 0 18px;
  font-family: Bellota Text;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.7;
  transition: border-color .25s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 1px 1px #262c20;
}

.modal-form__form-input:placeholder-shown, .modal-form__form-field-spam-input:placeholder-shown {
  border: 1px solid #262c20;
  box-shadow: 1px 1px #262c20;
}

.modal-form__form-field-label-radio {
  margin-left: 21px;
  display: flex;
}

.modal-form__form-field-male-svg, .modal-form__form-field-female-svg {
  cursor: pointer;
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transition: fill .25s cubic-bezier(.4, 0, .2, 1);
}

.modal-form__form-field-checkbox-label {
  color: #262c20;
  align-items: center;
  margin-bottom: 16px;
  font-family: Bellota Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.modal-form__form-field-checkbox-container-svg {
  border: 3px solid #000;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  margin-right: 16px;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  overflow: hidden;
}

.modal-form__form-field-checkbox-svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-left: -1px;
  transition: fill .25s cubic-bezier(.4, 0, .2, 1);
}

.modal-form__form-field-checkbox:checked + .modal-form__form-field-checkbox-container-svg {
  background-color: #9ed821;
}

.modal-form__form-field-checkbox:checked + .modal-form__form-field-checkbox-container-svg > svg {
  fill: #000;
}

.modal-form__form-field-spam-conteiner {
  color: #262c20;
  margin-bottom: 32px;
  font-family: Libre Caslon Text;
  font-size: 16px;
}

.modal-form__form-field-spam-header {
  margin-bottom: 10px;
  display: inline-block;
}

.modal-form__form-field-spam-label {
  align-items: center;
  display: flex;
}

.modal-form__form-field-spam-numb {
  font-weight: 400;
}

.modal-form__form-field-spam-input {
  background: #fff;
  border: 2px solid #262c20;
  border-radius: 9px;
  width: 92px;
  height: 44px;
  margin: 0 10px;
  box-shadow: 1.751px 1.751px #262c20;
}

.modal-form__form-field-spam-text {
  color: #262c20;
  font-family: Bellota Text;
  font-size: 12px;
  font-weight: 400;
}

.modal-form__form-submit-btn {
  background: #ffc01d;
  border: 2px solid #262c20;
  border-radius: 11px;
  padding: 14px 38px;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 2px 2px #1c2116;
}

.modal-form__form-submit-btn:hover {
  background: #9ed821;
}

/*# sourceMappingURL=index.dda6fa14.css.map */
