<div class="modal-form__body">
  <h2 class="modal-form__body-h2">Sprachunterricht</h2>
  <p class="modal-form__body-text">
    Hier können Sie Ihre Anfrage oder Anregung schildern und uns mit nachfolgendem Formular
    zusenden.Sie erhalten von uns kurzfristig und kostenfrei eine Rückantwort per E-Post.
  </p>
  <form action="" autocomplete="on" class="modal-form__form">
    <div role="group" class="modal-form__form-field-container">
      <legend class="modal-form__form-field-legend">Andere * -</legend>
      <label class="modal-form__form-field-label-radio">
        <input
          class="modal-form__form-field-male-radio visually-hidden"
          type="radio"
          name="gender"
          value="male"
          required
        />
        <svg class="modal-form__form-field-male-svg">
          <use xlink:href="./images/elements/sprite.svg#icon-radio-button"></use>
        </svg>
        Herr
      </label>
      <label class="modal-form__form-field-label-radio">
        <input
          class="modal-form__form-field-female-radio visually-hidden"
          type="radio"
          name="gender"
          value="female"
          required
        />
        <svg class="modal-form__form-field-female-svg">
          <use xlink:href="./images/elements/sprite.svg#icon-radio-button"></use>
        </svg>
        Frau
      </label>
    </div>
    <div class="modal-form__form-wraper">
      <label class="modal-form__form-field">
        Vorname *
        <input
          class="modal-form__form-input"
          type="text"
          name="firstName"
          minlength="2"
          required
          placeholder="Typing..."
        />
      </label>
      <label class="modal-form__form-field">
        Nachname *
        <input
          class="modal-form__form-input"
          type="text"
          name="lastName"
          minlength="2"
          required
          placeholder="Typing..."
        />
      </label>
      <label class="modal-form__form-field"
        >Internet *<input
          class="modal-form__form-input"
          type="text"
          name="link"
          minlength="3"
          required
          placeholder="Typing..."
        />
      </label>
      <label class="modal-form__form-field"
        >E-Post *<input
          class="modal-form__form-input"
          type="email"
          name="email"
          minlength="5"
          required
          placeholder="Typing..."
        />
      </label>
    </div>
    <label class="modal-form__form-field"
      >Betreff *<input
        class="modal-form__form-input"
        type="text"
        name="theme"
        minlength="5"
        required
        placeholder="Typing..."
      />
    </label>
    <label class="modal-form__form-field">
      Nachricht *<textarea
        class="modal-form__form-input"
        type="text"
        name="message"
        minlength="5"
        required
        placeholder="Typing..."
      ></textarea>
    </label>
    <label class="modal-form__form-field-checkbox-label">
      <input
        class="modal-form__form-field-checkbox visually-hidden"
        class=""
        type="checkbox"
        required
      />
      <span class="modal-form__form-field-checkbox-container-svg">
        <svg class="modal-form__form-field-checkbox-svg">
          <use xlink:href="./images/elements/sprite.svg#icon-check"></use>
        </svg>
      </span>
      Ich wünsche eine Kopie meiner Anfrage an mein Postfach.
    </label>
    <div class="modal-form__spam-submit-wraper">
      <div class="modal-form__form-field-spam-conteiner">
        <span class="modal-form__form-field-spam-header">Spamschutz:*</span>
        <label class="modal-form__form-field-spam-label">
          <span class="modal-form__form-field-spam-numb">34 - 1 =</span>
          <input
            class="modal-form__form-field-spam-input"
            type="number"
            minlength="1"
            required
            placeholder="Typing..."
          />
          <span class="modal-form__form-field-spam-text">(Rechenaufgabe lösen)</span>
        </label>
      </div>
      <button class="modal-form__form-submit-btn" type="submit">Zurücksetzen</button>
    </div>
  </form>
</div>
