<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__container-info">
        <div class="footer__text-container">
          <h2 class="footer__text-h2">Azzaro lingua</h2>
          <span class="footer__text-span">Remscheid, Germany</span>
          <p class="footer__text-text">
            Inhaberin, über 30-jährige Erfahrung in Fremdsprachenunterricht und Übersetzungen,
            Azzaro Lingua
          </p>
        </div>
        <div class="footer__nav">
          <a href="./index.html" class="footer__nav-link">Start</a>
          <a href="#" class="footer__nav-link">Referenzen</a>
          <a href="#" class="footer__nav-link">Impressum</a>
          <a href="#" class="footer__nav-link">Datenschutzerklärung</a>
          <a href="./contact.html" class="footer__nav-link">Kontakt</a>
        </div>
        <article class="contact">
          <div class="contact__container">
            <span class="contact__span">Kontakt</span>
            <address class="contact__addres">
              <a href="tel:+49 2191 5912821" class="contact__addres-link">
                <span class="contact__addres-link-container-svg">
                  <svg class="contact__addres-link-svg">
                    <use xlink:href="./images/elements/sprite.svg#icon-Phone"></use>
                  </svg>
                </span>
                +49 2191 5912821
              </a>
              <a href="mailto:info[at]azzaro-lingua.de" class="contact__addres-link">
                <span class="contact__addres-link-container-svg">
                  <svg class="contact__addres-link-svg">
                    <use xlink:href="./images/elements/sprite.svg#icon-Mail"></use>
                  </svg>
                </span>
                info[at]azzaro-lingua.de
              </a>
            </address>
          </div>
          <ul class="contact__list">
            <li class="contact__item">
              <a href="#" class="contact__addres-link" target="_blank">
                <span class="contact__addres-link-container-svg">
                  <svg class="contact__addres-link-svg">
                    <use xlink:href="./images/elements/sprite.svg#icon-twitter"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li class="contact__item">
              <a href="#" class="contact__addres-link" target="_blank">
                <span class="contact__addres-link-container-svg">
                  <svg class="contact__addres-link-svg">
                    <use xlink:href="./images/elements/sprite.svg#icon-facebook"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li class="contact__item">
              <a href="#" class="contact__addres-link" target="_blank">
                <span class="contact__addres-link-container-svg">
                  <svg class="contact__addres-link-svg">
                    <use xlink:href="./images/elements/sprite.svg#icon-xing"></use>
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </article>
        <a href="#header" class="footer__btn-up">
          <svg class="footer__btn-up-svg">
            <use xlink:href="./images/elements/sprite.svg#icon-Btn_up"></use>
          </svg>
        </a>
      </div>

      <div class="creator">
        <div class="creator__info">
          <div class="creator__info-design-container">
            <span class="creator__info-design-text"> UX und UI design </span>
            <span class="creator__info-design-link-container">
              <a
                class="creator__info-design-link"
                href="https://www.linkedin.com/in/uiuxnisha/"
                target="_blank"
                >Nisha Singh</a
              >
              <span class="creator__info-design-link-el"> | </span>
              <a class="creator__info-design-link" href="https://shaola.com.ua/" target="_blank"
                >Olga Plikhivska</a
              >
            </span>
          </div>
          <div class="creator__info-develop-container">
            <span class="creator__info-develop-text">Website development</span>
            <a
              class="creator__info-develop-link"
              href="https://www.linkedin.com/in/a-kuzmichev/"
              target="_blank"
              >Andrii Kuzmichev</a
            >
          </div>
          <div class="creator__hosting-container">
            <h2 class="creator__hosting-h2">webhosting</h2>
            <a class="creator__hosting-link" href="#" target="_blank">
              <img
                src="./images/elements/yewcom-logo.svg"
                alt="yewcom logo hosting"
                class="creator__hosting-img"
            /></a>
          </div>
        </div>
      </div>
      <span class="footer__copy">© Copyright - Azzaro Lingua 2013 - 2023</span>
    </div>
  </div>
</footer>
