<footer class="footer">
  <div class="container">
    <div class="footer__container-info">
      <h2 class="footer__h2">Azzaro lingua</h2>
      <span class="footer__span-loc">Remscheid, Germany</span>
      <div class="footer__nav">
        <a href="#" class="footer__nav-link">Start</a>
        <a href="#" class="footer__nav-link">Referenzen</a>
        <a href="#" class="footer__nav-link">Impressum</a>
        <a href="#" class="footer__nav-link">Datenschutzerklärung</a>
        <a href="#" class="footer__nav-link">Kontakt</a>
      </div>
      <article class="contact">
        <div>
          <span class="contact__span">Kontakt</span>
          <address class="contact__addres">
            <a href="tel:+49 2191 5912821" class="contact__address-link">+49 2191 5912821</a>
            <a href="mailto:info[at]azzaro-lingua.de" class="contact__address-link">
              info[at]azzaro-lingua.de</a
            >
          </address>
        </div>
        <ul class="contact__list">
          <li class="contact__item">
            <a href="#" class="contact__link"><img src="./images/elements/twitter.svg" alt="" /></a>
          </li>
          <li class="contact__item">
            <a href="#" class="contact__link">
              <img src="./images/elements/facebook.svg" alt="" />
            </a>
          </li>
          <li class="contact__item">
            <a href="#" class="contact__link"><img src="./images/elements/yewcom.svg" alt="" /></a>
          </li>
        </ul>
      </article>
      <div class="footer__hosting">
        <h2 class="hosting__h2">webhosting</h2>
        <img src="./images/elements/yewcom-logo.svg" alt="yewcom-logo" class="hosting__img" />
      </div>
      <a href="#header" class="footer__btn-up">
        <svg class="footer__btn-up-svg">
          <use xlink:href="./images/elements/sprite.svg#icon-Btn_up"></use>
        </svg>
      </a>
    </div>
    <div class="creator">
      <div class="creator__info">
        <span class="creator__info-design">
          Innovation und Kreativität für eine dynamische Welt
        </span>
        <span class="creator__info-development">
          <span class="creator__info-development-item">Website development</span>
          <span class="creator__info-development-item">Andrii Kuzmichev</span></span
        >
      </div>
      <img class="creator__img" src="./images/elements/Logo NISAO_correct.svg" alt="nisao logo" />
    </div>
    <span class="footer__copy">© Copyright - Azzaro Lingua 2013 - 2023</span>
  </div>
</footer>
