<header class="header" id="header">
  <div class="container">
    <div class="header__container">
      <nav class="header__nav"></nav>
      <a class="header__logo-link" href="#">
        <img class="header__logo-img" src="./images/elements/logo.png" alt="logo" />
      </a>
      <button class="hamburger hamburger--emphatic" type="button" hamburger>
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</header>
