<main>
  <section class="hero">
    <div class="container">
      <h1 class="hero__h1">Azzaro lingua</h1>
      <div class="hero__img-container">
        <img class="hero__img" src="./images/giovannas photo.png" alt="giovannas photo" />
      </div>
      <h2 class="hero__h2">Giovanna Azzaro-Dinic</h2>
      <p lang="de" class="hero__info">
        Über 30 Jahre Erfahrung als Dolmetscherin, Übersetzerin und Fremdsprachenlehrerin
      </p>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <h2 class="services__h2">Dienstleistungen</h2>
      <p lang="de" class="services__description">
        Sprachdienstleistungen für Unternehmen <br />
        und Privatpersonen
      </p>
      <ul class="services__list">
        <li class="services__item">
          <img src="./images/info/hallo.png" alt="Sprachunterricht" class="services__img" />
          <span class="services__info">Sprachunterricht</span>
        </li>
        <li class="services__item">
          <img src="./images/info/ital-deautch.png" alt="Übersetzungen" class="services__img" />
          <span class="services__info">Übersetzungen</span>
        </li>
        <li class="services__item">
          <img src="./images/info/courses.png" alt="Dolmetscherdienste" class="services__img" />
          <span class="services__info">Dolmetscherdienste</span>
        </li>
      </ul>
    </div>
  </section>
  <section class="program">
    <div class="container">
      <h2 class="program__h2">Effektives Sprachtraining mit persönlichem Ansatz</h2>
      <p lang="de" class="program__description">
        Als erfahrener Sprachlehrer biete ich effektives und individuelles Sprachtraining für
        Anfänger und Fortgeschrittene an. Mit meinem persönlichen Ansatz gestalte ich den Unterricht
        interessant und motivierend, damit Sie die Sprache leicht und schnell erlernen können. Ich
        freue mich darauf, Ihnen zu helfen und Sie auf Ihrem Weg zum Spracherfolg zu begleiten!
      </p>
      <ul class="program__list">
        <li class="program__item">Sprachunterricht für Fortgeschrittene</li>
        <li class="program__item">Sprachservice – il servizio tedesco-italiano</li>
        <li class="program__item">Italienisch für in Deutschland lebende Italiener</li>
        <li class="program__item">Sprachunterricht für Fortgeschrittene</li>
        <li class="program__item">Firmensprachtraining</li>
        <li class="program__item">Sprachunterricht für Anfänger</li>
        <li class="program__item">
          Übersetzungen/Dolmetschen - traduzioni/servizi di interpretariato
        </li>
        <li class="program__item">Mentalität & Sprache</li>
      </ul>
    </div>
  </section>
  <section class="description">
    <div class="container">
      <h2 class="description__h2">
        Giovanna <br />
        Azzaro-Dinic
      </h2>
      <div class="description__text-container">
        <p lang="de" class="description__text">
          und ich bin Fremdsprachenlehrerin, Übersetzerin und Dolmetscherin mit einer
          Berufserfahrung, die sich über 3 Jahrzehnte erstreckt. Im Laufe meiner beruflichen
          Laufbahn, habe ich mit zahlreichen Unternehmen erfolgreich zusammengearbeitet.
        </p>
        <p lang="de" class="description__text">
          Im Rahmen des Unterrichts lernen Sie nicht einfach nur steif eine neue Sprache, Sie lernen
          sowohl die Hochsprache, als auch die Umgangssprache sowie die Gepflogenheiten des Landes
        </p>
        <p lang="de" class="description__text">
          Als Übersetzerin verfüge ich über umfangreiche Erfahrung, die sich über nahezu sämtliche
          Bereiche erstreckt. Das Portfolio fangt schon bei Geschäftlichen Briefen an und erstreckt
          sich über z.B. technische, medizinische, juristische Texte, bis hin zur sinngemäßen
          Übersetzungen von Werbe- und Marketingtexten. Mein Anspruch ist es die höchstmögliche
          Qualität zu liefern, die auch Sie für Ihr Unternehmen beanspruchen.
        </p>
        <p lang="de" class="description__text">
          Sollten Sie an einer der genannten Dienstleistungen interessiert sein, oder auch den
          Wunsch verspüren, mit Ihren Mitarbeitern/Kollegen an ausländischen Standorten in deutscher
          Sprache zu kommunizieren, können wir auch dahingehend zusammenarbeiten. Hierfür biete ich
          ebenfalls Online-Deutschunterricht über Skype an, der sich bis heute gut bewehrt hat.
        </p>
      </div>
    </div>
  </section>
  <section class="languages">
    <div class="container">
      <h2 class="languages__h2">Sprachen</h2>
      <ul class="languages__list">
        <li class="languages__item">
          <img class="languages__img" src="./images/flag/flag-deutsch.png" alt="German" />
          <span class="languages__language"> Deutsch</span>
          <span class="languages__description">Niveau Muttersprache</span>
        </li>
        <li class="languages__item">
          <img class="languages__img" src="./images/flag/flag-italy.png" alt="Italian " />
          <span class="languages__language"> Italienisch</span>
          <span class="languages__description">Niveau Muttersprache</span>
        </li>
        <li class="languages__item">
          <img class="languages__img" src="./images/flag/flag-spain.png" alt="Spanish" />
          <span class="languages__language"> Spanisch</span>
          <span class="languages__description">Wären fließend</span>
        </li>
        <li class="languages__item">
          <img class="languages__img" src="./images/flag/flag-french.png" alt="French" />
          <span class="languages__language">Französisch </span>
          <span class="languages__description">Wären fließend</span>
        </li>
      </ul>
      <div class="languages__contact">
        <div class="languages__qr">
          <img src="./images/qr-cod.png" alt="qr-cod Azzaro Lingua " class="languages__qr-img" />
          <span class="languages__qr-info">Azzaro Lingua direkt auf </span>
          <span class="languages__qr-info">Ihr SmartPhone:</span>
        </div>
        <button type="button" class="languages__btn-form" form>Füllen Sie das Formular aus</button>
      </div>
    </div>
  </section>
  <section class="license">
    <div class="container">
      <div class="license__h2-container">
        <h2 class="license__h2">Beglaubigte Übersetzung bei Azzaro Lingua</h2>
      </div>
      <p lang="de" class="license__description">
        Frau Giovanna Azzaro-Dinic ist durch die Präsidentin des Oberlandesgerichts Düsseldorf
        ermächtigte Übersetzerin. Die Richtigkeit und Vollständigkeit der Übersetzung von Urkunden
        aus der italienischen Sprache in die deutsche Sprache und umgekehrt kann durch Frau
        Azzaro-Dinic gemäß § 142 Abs. 3 der Zivilprozessordnung bescheinigt werden.
      </p>
      <img src="./images/info/certificate.png" alt="image" class="license__img" />
    </div>
  </section>
  <section class="customers">
    <div class="container">
      <h2 class="customers__h2">Unsere Kunden</h2>
      <p class="customers__description">
        finden Sie einige unserer Kunden als beispielhafte Referenzen und die von ihnen genutzten
        Dienstleistungen.
      </p>
      <ul class="customers__list">
        <li class="customers__item"></li>
      </ul>
    </div>
  </section>
</main>
