<main>
  <section class="hero">
    <div class="container">
      <div class="hero__container">
        <h1 class="visually-hidden">Azzaro lingua</h1>
        <div class="hero__info-container-text">
          <div class="hero__h1-container">
            <img class="hero__h1-img" src="./images/info/h1.svg" alt="h1 img" />
          </div>
          <div class="hero__info-container">
            <span class="hero__span">Giovanna Azzaro-Dinic</span>
            <p lang="de" class="hero__info">
              Über 30 Jahre Erfahrung als Dolmetscherin, Übersetzerin und Fremdsprachenlehrerin
            </p>
          </div>
        </div>
        <div class="hero__img-container">
          <img class="hero__img" src="./images/giovannas photo.png" alt="giovannas photo" />
          <div class="hero__flags-container">
            <ul class="hero__flags-ul">
              <li class="hero__flags-li">
                <img src="./images/flag/flag-deutsch.png" alt="flag-deutsch" />
              </li>
              <li class="hero__flags-li">
                <img src="./images/flag/flag-italy.png" alt="flag-italy" />
              </li>
              <li class="hero__flags-li">
                <img src="./images/flag/flag-spain.png" alt="flag-spain" />
              </li>
              <li class="hero__flags-li">
                <img src="./images/flag/flag-french.png" alt="flag-french" />
              </li>
            </ul>
          </div>
        </div>
        <div class="hero__info-container-mobile">
          <h2 class="hero__h2">Giovanna Azzaro-Dinic</h2>
          <p lang="de" class="hero__info">
            Über 30 Jahre Erfahrung als Dolmetscherin, Übersetzerin und Fremdsprachenlehrerin
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="services">
    <div class="container">
      <h2 class="services__h2">Dienstleistungen</h2>
      <p class="services__description">Sprachdienstleistungen für Unternehmen und Privatpersonen</p>
      <ul class="services__list">
        <li class="services__item">
          <div class="services__img-container">
            <img src="./images/info/hallo.svg" alt="Sprachunterricht" class="services__img" />
          </div>
          <h4 class="services__h4">Sprachunterricht</h4>
        </li>
        <li class="services__item">
          <div class="services__img-container">
            <img src="./images/info/ital-deautch.svg" alt="Übersetzungen" class="services__img" />
          </div>
          <h4 class="services__h4">Übersetzungen</h4>
        </li>
        <li class="services__item">
          <div class="services__img-container">
            <img src="./images/info/courses.svg" alt="Dolmetscherdienste" class="services__img" />
          </div>
          <h4 class="services__h4">Dolmetscherdienste</h4>
        </li>
      </ul>
    </div>
  </section>

  <section class="program">
    <div class="container">
      <div class="program__container">
        <div class="program__text-container">
          <h3 class="program__h3">Effektives Sprachtraining mit persönlichem Ansatz</h3>
          <p lang="de" class="program__description">
            Als erfahrener Sprachlehrer biete ich effektives und individuelles Sprachtraining für
            Anfänger und Fortgeschrittene an. Mit meinem persönlichen Ansatz gestalte ich den
            Unterricht interessant und motivierend, damit Sie die Sprache leicht und schnell
            erlernen können. Ich freue mich darauf, Ihnen zu helfen und Sie auf Ihrem Weg zum
            Spracherfolg zu begleiten!
          </p>
        </div>
        <div class="program__list-container">
          <ul class="program__list">
            <li class="program__list-item">
              <span class="program__list-svg-container">
                <svg class="program__list-svg">
                  <use href="./images/elements/sprite.svg#icon-vector-list"></use>
                </svg>
              </span>
              <span class="program__list-span"> Sprachunterricht für Fortgeschrittene</span>
            </li>
            <li class="program__list-item">
              <span class="program__list-svg-container">
                <svg class="program__list-svg">
                  <use href="./images/elements/sprite.svg#icon-vector-list"></use>
                </svg>
              </span>
              <span class="program__list-span"> Sprachservice – il servizio tedesco-italiano</span>
            </li>
            <li class="program__list-item">
              <span class="program__list-svg-container">
                <svg class="program__list-svg">
                  <use href="./images/elements/sprite.svg#icon-vector-list"></use>
                </svg>
              </span>
              <span class="program__list-span">
                Italienisch für in Deutschland lebende Italiener</span
              >
            </li>
            <li class="program__list-item">
              <span class="program__list-svg-container">
                <svg class="program__list-svg">
                  <use href="./images/elements/sprite.svg#icon-vector-list"></use>
                </svg>
              </span>
              <span class="program__list-span"> Übersetzer – und Dolmetscherdienste</span>
            </li>
            <li class="program__list-item">
              <span class="program__list-svg-container">
                <svg class="program__list-svg">
                  <use href="./images/elements/sprite.svg#icon-vector-list"></use>
                </svg>
              </span>
              <span class="program__list-span"> Firmensprachtraining</span>
            </li>
            <li class="program__list-item">
              <span class="program__list-svg-container">
                <svg class="program__list-svg">
                  <use href="./images/elements/sprite.svg#icon-vector-list"></use>
                </svg>
              </span>
              <span class="program__list-span"> Sprachunterricht für Anfänger</span>
            </li>
            <li class="program__list-item">
              <span class="program__list-svg-container">
                <svg class="program__list-svg">
                  <use href="./images/elements/sprite.svg#icon-vector-list"></use>
                </svg>
              </span>
              <span class="program__list-span">
                Übersetzungen/ Dolmetschen - traduzioni/ servizi di interpretariato</span
              >
            </li>
            <li class="program__list-item">
              <span class="program__list-svg-container">
                <svg class="program__list-svg">
                  <use href="./images/elements/sprite.svg#icon-vector-list"></use>
                </svg>
              </span>
              <span class="program__list-span"> Kultur & Sprache</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="description">
    <div class="container">
      <div class="description__h2-container">
        <h2 class="description__h2">
          Giovanna <br />
          Azzaro-Dinic
        </h2>
        <p lang="de" class="description__h2-text">
          und ich bin Fremdsprachenlehrerin, Übersetzerin und Dolmetscherin mit einer
          Berufserfahrung, die sich über 3 Jahrzehnte erstreckt. Im Laufe meiner beruflichen
          Laufbahn, habe ich mit zahlreichen Unternehmen erfolgreich zusammengearbeitet.
        </p>
      </div>

      <div class="description__wrapper">
        <div class="description__wrapper-info">
          <div class="description__text-container">
            <p lang="de" class="description__text">
              Im Rahmen des Unterrichts lernen Sie nicht einfach nur steif eine neue Sprache, Sie
              lernen sowohl die Hochsprache, als auch die Umgangssprache sowie die Gepflogenheiten
              des Landes
            </p>
            <p lang="de" class="description__text">
              Als Übersetzerin verfüge ich über umfangreiche Erfahrung, die sich über nahezu
              sämtliche Bereiche erstreckt. Das Portfolio fangt schon bei Geschäftlichen Briefen an
              und erstreckt sich über z.B. technische, medizinische, juristische Texte, bis hin zur
              sinngemäßen Übersetzungen von Werbe- und Marketingtexten. Mein Anspruch ist es die
              höchstmögliche Qualität zu liefern, die auch Sie für Ihr Unternehmen beanspruchen.
            </p>
            <p lang="de" class="description__text">
              Sollten Sie an einer der genannten Dienstleistungen interessiert sein, oder auch den
              Wunsch verspüren, mit Ihren Mitarbeitern/Kollegen an ausländischen Standorten in
              deutscher Sprache zu kommunizieren, können wir auch dahingehend zusammenarbeiten.
              Hierfür biete ich ebenfalls Online-Deutschunterricht über Skype an, der sich bis heute
              gut bewehrt hat.
            </p>
          </div>

          <div class="description__languages-container">
            <div class="description__languages-info-container">
              <h2 class="description__languages-h2">Sprachen</h2>
              <ul class="description__languages-list">
                <li class="description__languages-item">
                  <img
                    class="description__languages-img"
                    src="./images/flag/flag-deutsch.png"
                    alt="German"
                  />
                  <div class="description__languages-item-text">
                    <span class="description__languages-language"> Deutsch</span>
                    <span class="description__languages-description">Niveau Muttersprache</span>
                  </div>
                </li>
                <li class="description__languages-item">
                  <img
                    class="description__languages-img"
                    src="./images/flag/flag-italy.png"
                    alt="Italian "
                  />
                  <div class="description__languages-item-text">
                    <span class="description__languages-language"> Italienisch</span>
                    <span class="description__languages-description">Niveau Muttersprache</span>
                  </div>
                </li>
                <li class="description__languages-item">
                  <img
                    class="description__languages-img"
                    src="./images/flag/flag-spain.png"
                    alt="Spanish"
                  />
                  <div class="description__languages-item-text">
                    <span class="description__languages-language"> Spanisch</span>
                    <span class="description__languages-description">Wären fließend</span>
                  </div>
                </li>
                <li class="description__languages-item">
                  <img
                    class="description__languages-img"
                    src="./images/flag/flag-french.png"
                    alt="French"
                  />
                  <div class="description__languages-item-text">
                    <span class="description__languages-language">Französisch </span>
                    <span class="description__languages-description">Wären fließend</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="description__languages-contact">
              <div class="description__languages-qr">
                <img
                  src="./images/qr-cod.png"
                  alt="qr-cod Azzaro Lingua "
                  class="description__languages-qr-img"
                />
                <span class="description__languages-qr-info">Azzaro Lingua direkt auf </span>
                <span class="description__languages-qr-info">Ihr SmartPhone:</span>
              </div>
              <button id="btn-form-open" type="button" class="description__languages-btn-form" form>
                Füllen Sie das Formular aus
              </button>
            </div>
          </div>
        </div>
        <div class="description__fedBack-container">
          <include src="./partials/components/form.html"></include>
        </div>
      </div>
    </div>
  </section>

  <section class="license">
    <div class="container">
      <div class="license-container">
        <div class="license__text-container">
          <div class="license__h2-container">
            <h2 class="license__h2">
              <span class="license__h2-span">Beglaubigte Übersetzung bei Azzaro Lingua</span>
              <span class="license__h2-span-container">
                <span class="license__h2-span">Beglaubigte Übersetzung bei Azzaro Lingua</span>
              </span>
            </h2>
          </div>
          <p lang="de" class="license__description">
            Frau Giovanna Azzaro-Dinic ist durch die Präsidentin des Oberlandesgerichts Düsseldorf
            ermächtigte Übersetzerin. Die Richtigkeit und Vollständigkeit der Übersetzung von
            Urkunden aus der italienischen Sprache in die deutsche Sprache und umgekehrt kann durch
            Frau Azzaro-Dinic gemäß § 142 Abs. 3 der Zivilprozessordnung bescheinigt werden.
          </p>
        </div>
        <div class="license__img-container">
          <img src="./images/info/certificate.svg" alt="image" class="license__img" />
        </div>
      </div>
    </div>
  </section>

  <section class="customers">
    <div class="container">
      <h2 class="customers__h2">Unsere Kunden</h2>
      <p class="customers__description">
        finden Sie einige unserer Kunden als beispielhafte Referenzen und die von ihnen genutzten
        Dienstleistungen.
      </p>
      <div class="customers__container">
        <ul class="customers__list">
          <li class="customers__item">
            <a class="customers__list-link" href="#" target="_blank">
              <div class="customers__img-container">
                <img class="customers__img" src="./images/client_cards/1.png" alt="" />
              </div>
              <div class="customers__info-container">
                <ul class="customers__info-list">
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Italienischunterricht
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Korrespondenz mit Kunden in Italien
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen aller Schwierigkeitsgrade
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzung des Firmenkatalogs vom Deutschen ins Italienische
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen juristischer Texte
                  </li>
                </ul>
              </div>
            </a>
          </li>
          <li class="customers__item">
            <a class="customers__list-link" href="#" target="_blank">
              <div class="customers__img-container">
                <img class="customers__img" src="./images/client_cards/2.png" alt="" />
              </div>
              <div class="customers__info-container">
                <ul class="customers__info-list">
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Italienischunterricht
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Korrespondenz mit Kunden in Italien
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen aller Schwierigkeitsgrade
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzung des Firmenkatalogs vom Deutschen ins Italienische
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen juristischer Texte
                  </li>
                </ul>
              </div>
            </a>
          </li>
          <li class="customers__item">
            <a class="customers__list-link" href="#" target="_blank">
              <div class="customers__img-container">
                <img class="customers__img" src="./images/client_cards/3.png" alt="" />
              </div>
              <div class="customers__info-container">
                <ul class="customers__info-list">
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Italienischunterricht
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Korrespondenz mit Kunden in Italien
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen aller Schwierigkeitsgrade
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzung des Firmenkatalogs vom Deutschen ins Italienische
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen juristischer Texte
                  </li>
                </ul>
              </div>
            </a>
          </li>
          <li class="customers__item">
            <a class="customers__list-link" href="#" target="_blank">
              <div class="customers__img-container">
                <img class="customers__img" src="./images/client_cards/4.png" alt="" />
              </div>
              <div class="customers__info-container">
                <ul class="customers__info-list">
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Italienischunterricht
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Korrespondenz mit Kunden in Italien
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen aller Schwierigkeitsgrade
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzung des Firmenkatalogs vom Deutschen ins Italienische
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen juristischer Texte
                  </li>
                </ul>
              </div>
            </a>
          </li>
          <li class="customers__item">
            <a class="customers__list-link" href="#" target="_blank">
              <div class="customers__img-container">
                <img class="customers__img" src="./images/client_cards/5.png" alt="" />
              </div>
              <div class="customers__info-container">
                <ul class="customers__info-list">
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Italienischunterricht
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Korrespondenz mit Kunden in Italien
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen aller Schwierigkeitsgrade
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzung des Firmenkatalogs vom Deutschen ins Italienische
                  </li>
                  <li class="customers__info-item">
                    <svg class="customers__info-svg">
                      <use href="./images/elements/sprite.svg#icon-frame-mark"></use>
                    </svg>
                    Übersetzungen juristischer Texte
                  </li>
                </ul>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="customers__btn">
        <button class="customers__btn-prev" id="btn-prev">
          <svg class="customers__btn-svg">
            <use xlink:href="./images/elements/sprite.svg#icon-btnSlider_left"></use>
          </svg>
        </button>
        <button class="customers__btn-next" id="btn-next">
          <svg class="customers__btn-svg">
            <use xlink:href="./images/elements/sprite.svg#icon-btnSlider_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
</main>
