<div id="modal-nav" class="header__mobile-backdrop">
  <div class="header__mobile-modal">
    <div>
      <a class="header__logo-link" href="#">
        <img class="header__logo-img" src="./images/elements/logo.png" alt="logo" />
      </a>
    </div>

    <nav class="header__mobile-nav">
      <ul>
        <li><a href="#" class="mobile__nav-link">Start</a></li>
        <li><a href="#" class="mobile__nav-link">Referenzen</a></li>
        <li><a href="#" class="mobile__nav-link">Impressum</a></li>
        <li><a href="#" class="mobile__nav-link">Datenschutzerklärung</a></li>
        <li><a href="#" class="mobile__nav-link">Kontakt</a></li>
      </ul>
    </nav>
  </div>

  <!-- <div class="mobile-header-container">
    <ul class="mobile-list list">
      <li class="mobile-item">
        <a class="mobile-link mobilemenu-current" href="#program" burger-1>Studying program</a>
      </li>
      <li class="mobile-item"><a class="mobile-link" href="#about" burger-2>About</a></li>
      <li class="mobile-item">
        <a class="mobile-link" href="#how-we-do" burger-3>Training options</a>
      </li>
      <li class="mobile-item">
        <a class="mobile-link" href="#registration" burger-4>Contacts</a>
      </li>
    </ul>
    <button type="button" class="button-mob-menu" data-modal-open-2>CONSULTATION BY PHONE</button>
  </div> -->
</div>
