<div id="modal-nav" class="header__mobile-backdrop visually-hidden">
  <div class="container">
    <div class="header__mobile-modal">
      <div class="header__logo-modal-container">
        <a class="header__logo-modal-link" href="#">
          <img class="header__logo-img-modal" src="./images/elements/logo.png" alt="logo" />
        </a>
      </div>

      <nav class="header__mobile-nav">
        <ul class="header__mobile-nav-list">
          <li class="header__mobile-nav-item header__mobile-nav-item-active">
            <a href="#" class="header__mobile-nav-link">Start</a>
          </li>
          <li class="header__mobile-nav-item">
            <a href="#" class="header__mobile-nav-link">Referenzen</a>
          </li>
          <li class="header__mobile-nav-item">
            <a href="#" class="header__mobile-nav-link">Impressum</a>
          </li>
          <li class="header__mobile-nav-item">
            <a href="#" class="header__mobile-nav-link">Kontakt</a>
          </li>
        </ul>
      </nav>
      <div class="header__mobile-lang">
        <div class="header__mobile-lang-container" id="mobile-lang-box">
          <div class="header__mobile-lang-clear">
            <img class="header__mobile-lang-flag" src="./images/flag/flag-deutsch.png" alt="flag" />
            <span class="header__mobile-lang-name">Deutsch</span>
          </div>
          <svg class="header__mobile-lang-svg">
            <use xlink:href="./images/elements/sprite.svg#icon-down"></use>
          </svg>
        </div>
        <ul class="header__mobile-lang-list visually-hidden" id="mobile-lang-list">
          <li class="header__mobile-lang-item">
            <img class="header__mobile-lang-flag" src="./images/flag/flag-french.png" alt="flag" />
            <span class="header__mobile-lang-name">French</span>
          </li>
          <li class="header__mobile-lang-item">
            <img class="header__mobile-lang-flag" src="./images/flag/flag-italy.png" alt="flag" />
            <span class="header__mobile-lang-name">Italy</span>
          </li>
          <li class="header__mobile-lang-item">
            <img class="header__mobile-lang-flag" src="./images/flag/flag-spain.png" alt="flag" />
            <span class="header__mobile-lang-name">Spain</span>
          </li>
        </ul>
      </div>
      <div class="header__mobile-contact">
        <a href="tel:+49 2191 5912821" class="header__mobile-contact-link">+49 2191 5912821</a>
        <a href="mailto:info[at]azzaro-lingua.de" class="header__mobile-contact-link"
          >info[at]azzaro-lingua.de
        </a>
      </div>
    </div>
  </div>
</div>
