<div id="modal-form" class="modal__form-backdrop visually-hidden">
  <div class="modal-form__container-scroll">
    <div class="modal-form__container">
      <button class="modal-form__btn-close" type="button" id="btn-form-close">
        <svg class="modal-form__btn-close-svg">
          <use xlink:href="./images/elements/sprite.svg#icon-close_btn"></use>
        </svg>
      </button>
      <div class="modal-form__body">
        <h2 class="modal-form__body-h2">Sprachunterricht</h2>
        <p class="modal-form__body-text">
          Hier können Sie Ihre Anfrage oder Anregung schildern und uns mit nachfolgendem Formular
          zusenden.Sie erhalten von uns kurzfristig und kostenfrei eine Rückantwort per E-Post.
        </p>
        <form action="" autocomplete="on" class="modal-form__form">
          <div role="group" class="modal-form__form-field-container">
            <legend class="modal-form__form-field-legend">Andere * -</legend>
            <label class="modal-form__form-field-label-radio">
              <input
                class="modal-form__form-field-male-radio visually-hidden"
                type="radio"
                name="gender"
                value="male"
              />
              <svg class="modal-form__form-field-male-svg">
                <use xlink:href="./images/elements/sprite.svg#icon-radio-button"></use>
              </svg>
              Herr
            </label>
            <label class="modal-form__form-field-label-radio">
              <input
                class="modal-form__form-field-female-radio visually-hidden"
                type="radio"
                name="gender"
                value="female"
              />
              <svg class="modal-form__form-field-female-svg">
                <use xlink:href="./images/elements/sprite.svg#icon-radio-button"></use>
              </svg>
              Frau
            </label>
          </div>
          <label class="modal-form__form-field">
            Vorname *
            <input class="modal-form__form-input" type="text" name="firstName" />
          </label>
          <label class="modal-form__form-field">
            Nachname *
            <input class="modal-form__form-input" type="text" name="lastName" />
          </label>
          <label class="modal-form__form-field"
            >Internet *<input class="modal-form__form-input" type="text" name="link" />
          </label>
          <label class="modal-form__form-field"
            >E-Post *<input class="modal-form__form-input" type="email" name="email" />
          </label>
          <label class="modal-form__form-field"
            >Betreff *<input class="modal-form__form-input" type="text" name="theme" />
          </label>
          <label class="modal-form__form-field">
            Nachricht *<textarea
              class="modal-form__form-input"
              type="text"
              name="message"
            ></textarea>
          </label>
          <label class="modal-form__form-field-checkbox-label">
            <input
              class="modal-form__form-field-checkbox visually-hidden"
              class=""
              type="checkbox"
            />
            <span class="modal-form__form-field-checkbox-container-svg">
              <svg class="modal-form__form-field-checkbox-svg">
                <use xlink:href="./images/elements/sprite.svg#icon-check"></use>
              </svg>
            </span>
            Ich wünsche eine Kopie meiner Anfrage an mein Postfach.
          </label>
          <div class="modal-form__form-field-spam-conteiner">
            <span class="modal-form__form-field-spam-header">Spamschutz:*</span>
            <label class="modal-form__form-field-spam-label">
              <span class="modal-form__form-field-spam-numb">34 - 1 =</span>
              <input class="modal-form__form-field-spam-input" type="number" />
              <span class="modal-form__form-field-spam-text">(Rechenaufgabe lösen)</span>
            </label>
          </div>
          <button class="modal-form__form-submit-btn" type="submit">Zurücksetzen</button>
        </form>
      </div>
    </div>
  </div>
</div>
