.header__mobile-modal {
  width: 300px;
  height: 640px;
  background: $light;
  border-radius: 8px 0px 0px 8px;
  border: 4px solid $black;
  margin-right: -16px;
  margin-left: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.header__logo-modal-container {
  background-color: $main-green;
  height: 50px;
  display: flex;
  justify-content: center;
}
.header__logo-modal-link {
  background-color: $main-green;

  border-radius: 0px 0px 8px 8px;
  border: 4px solid $black;
  background: $main-green;
  padding: 24px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 70px;
  border-top: 0;
}
.header__logo-img-modal {
  width: 170px;
  height: 21.5px;
}
.header__mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 41px;
  padding-bottom: 41px;

  &-item {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &-active::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      width: 48px;
      height: 48px;
      background-color: $main-green;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-link {
    color: $black;
    font-family: $bellota;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    transition: color $animation-duration $timing-function;
    &:hover {
      color: $accent-color;
    }
  }
}
.header__mobile-lang {
  background-color: $main-green;
  height: 71px;
  box-shadow: 0px 4px 0px 0px $black;

  &-container {
    display: flex;
    width: 300px;
    padding: 21px 12px 15px 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &-container:hover > &-svg {
    fill: $accent-color;
  }
  &-clear {
    display: flex;
    align-items: center;
  }
  &-flag {
    width: 36px;
    height: 24px;
  }
  &-name {
    color: $black;
    font-family: $bellota;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color $animation-duration $timing-function;
    margin-left: 28px;
    margin-right: 28px;
  }
  &-svg {
    width: 24px;
    height: 24px;
    &-active {
      transform: rotate(180deg);
    }
    transition: transform $animation-duration $timing-function;
    transition: fill $animation-duration $timing-function;
  }
  &-svg-choose {
    width: 24px;
    height: 24px;
    fill: transparent;
    transition: all $animation-duration $timing-function;
  }

  &-list {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px $black;
    transition: transform $animation-duration $timing-function;
  }
  &-item {
    width: 300px;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    background-color: $main-green;

    &:active {
      .header__mobile-lang-name {
        color: $orangen;
      }
      .header__mobile-lang-svg-choose {
        fill: $orangen;
      }
    }
  }
  &-item:hover {
    .header__mobile-lang-name {
      color: $white;
    }
    .header__mobile-lang-svg-choose {
      fill: $white;
    }
  }
}

.header__mobile-contact {
  margin-top: 35px;
  margin-bottom: 35px;

  &-link {
    margin-left: 8px;
    display: flex;
    align-items: center;

    color: $black;
    font-family: $bellota;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color $animation-duration $timing-function;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:hover,
    :focus {
      color: $orangen;
    }
    &:hover > &-container-svg {
      background-color: $orangen;
    }
  }
  &-link-container-svg {
    @extend %icon-container;
    fill: $black;
    filter: drop-shadow(1px 1px 0px #262c20);
    margin-right: 8px;
    transition: background-color $animation-duration $timing-function;
  }
  &-link-svg {
    @extend .contact__addres-link-svg;
  }
}
