.form__container {
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 20px;
  border-radius: 18px;
  border: 2px solid $black;
  background: $light;
  box-shadow: 4px 4px 0px 0px #262c20;
}
.form__btn-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $black;
  z-index: 102;
  & > span {
    width: 20px;
    height: 20px;
    color: #f2f6e6;
  }
}
.form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__h2 {
  color: $black;
  text-align: center;
  font-family: $libre;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
  text-transform: uppercase;
  &::after {
    content: url('../images/elements/vector-4.svg');
    display: block;
  }
}
.form__text {
  color: $black;
  text-align: center;
  font-family: $bellota;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.43;
}
.form__field {
  color: $black;
  font-family: $libre;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.form__input {
  width: 100%;
  min-height: 40px;
  margin-top: 7px;
  border-radius: 12px;
  border: 1px solid $black;
  background: $white;
  box-shadow: 1px 1px 0px 0px #262c20;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  & > label {
    margin-top: 12px;
    &:last-child {
      margin-top: 16px;
    }
    & > textarea {
      resize: none;
    }
  }
  &__radio {
  }
  &__submit-btn {
    margin-top: 32px;
    padding: 14px 38px;
    border-radius: 11.379px;
    border: 2px solid $black;
    background: $orangen;
    box-shadow: 2px 2px 0px 0px #1c2116;
    &:hover {
      background: $main-green;
      transition: background-color $animation-duration $timing-function;
    }
  }
}
