.header {
  background: $main-green;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $desktop) {
    height: 68px;
    border-bottom: 1px solid $black;
    justify-content: space-between;
    align-items: center;
  }
}

.header__nav {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
  }

  &-list {
    isolation: isolate;
    display: flex;
  }
  &-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 20px;
    }
    &-active {
      & > a {
        color: $white;
        position: relative;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 48px;
        height: 48px;
        background-color: $black;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &-link {
    color: $black;
    font-family: $bellota;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color $animation-duration $timing-function;

    &:hover,
    :focus {
      color: $orangen;
    }
  }
}

.header__logo {
  &-link {
    border-width: 0 4px 4px 4px;
    border-style: solid;
    border-color: $black;
    border-radius: 0px 0px 8px 8px;
    background: $main-green;
    padding: 13px 28px;

    @media screen and (min-width: $desktop) {
      border-width: 0 4px 4px 4px;
      padding: 16px 28px 16px 28px;
      box-shadow: 5px 5px 0px 0px #262c20;
    }
  }

  &-img {
    width: 170px;
    height: 21px;

    @media screen and (min-width: $desktop) {
      width: 300px;
      height: 38px;
    }
  }
}

.hamburger {
  position: absolute;
  z-index: 101;
  right: -16px;
  top: 16px;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.header__contact {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    display: flex;
  }

  &-link {
    display: flex;
    align-items: center;

    color: $black;
    font-family: $bellota;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color $animation-duration $timing-function;

    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover,
    :focus {
      color: $orangen;
    }
    &:hover > &-container-svg {
      background-color: $orangen;
    }
  }
  &-link-container-svg {
    @extend %icon-container;
    border: 2px solid $black;

    fill: $black;
    filter: drop-shadow(1px 1px 0px #262c20);
    margin-right: 8px;
    transition: background-color $animation-duration $timing-function;
  }
  &-link-svg {
    width: 18px;
    height: 18px;
  }
}

.header__lang {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }

  position: relative;

  &-container {
    display: flex;
    align-items: center;
    height: 60px;

    &:hover > .header__lang-svg {
      fill: $orangen;
    }
  }
  &-svg {
    width: 24px;
    transition: fill $animation-duration $timing-function;
  }
  &-flag {
    width: 36px;
    height: 24px;
    margin-right: 8px;
  }
  &-list {
    position: absolute;
    z-index: 1;
    border-width: 0 4px 4px 4px;
    border-style: solid;
    border-color: $black;
    border-radius: 0px 0px 8px 8px;
  }
  &-item {
    padding: 10px 12px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &:first-child {
      padding-top: 0;
    }
  }
}
