.hero {
  background-image: linear-gradient(to bottom, $main-green 50%, $black 50%);

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(to bottom, $main-green 56%, $black 50%);
    overflow: hidden;
  }

  &__container {
    padding-bottom: 31px;
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      padding-top: 70px;
      padding-bottom: 173px;
    }
  }

  &__h1 {
    &-container {
      margin-bottom: 36px;
      position: relative;

      &::after {
        content: url('../images/elements/arrow.svg');
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        transform: translate(0, 100%);
      }

      @media screen and (min-width: $desktop) {
        width: 730px;
      }
    }
    &-img {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
    box-shadow: 8px 12px 21px 0px rgba(0, 0, 0, 0.19);

    &-container {
      width: 330px;
      position: relative;

      @media screen and (min-width: $desktop) {
        flex-basis: 557px;
      }
    }
  }

  &__flags {
    &-container {
      border-radius: 6px;
      border: 3px solid $black;
      background: $main-green;
      position: absolute;
      right: 6px;
      bottom: -32px;

      @media screen and (min-width: $desktop) {
        right: -20px;
        bottom: -14px;
      }
    }
    &-ul {
      padding: 18px 14px;

      @media screen and (min-width: $desktop) {
        padding: 28px 20px;
      }
    }
    &-li {
      & > img {
        width: 32px;
        height: 21px;

        @media screen and (min-width: $desktop) {
          width: 60px;
          height: 40px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 11px;

        @media screen and (min-width: $desktop) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__info-container {
    display: none;

    @media screen and (min-width: $desktop) {
      display: block;
      width: 660px;
      margin-right: 0;
      margin-left: auto;

      &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    &-mobile {
      @media screen and (min-width: $desktop) {
        display: none;
      }
    }
  }

  &__h2 {
    color: $main-green;
    font-size: 45px;
    font-family: $bellota;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 16px;

    @media screen and (min-width: $desktop) {
      font-size: 64px;
      line-height: 0.75;
      margin-bottom: 28px;
    }
  }

  &__info {
    color: $white;
    font-size: 22px;
    font-family: $bellota;
    font-weight: 700;

    @media screen and (min-width: $desktop) {
      font-size: 32px;
      text-align: right;
    }
  }
}

.services {
  background: $white;
  padding: 80px 0;
  font-weight: 700;

  @media screen and (min-width: $desktop) {
    padding: 160px 0;
    overflow: hidden;
  }

  &__h2 {
    @extend %devider-after-h2;

    color: $black;
    text-align: center;
    font-size: 24px;
    font-family: $libre;
    font-weight: 700;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media screen and (min-width: $desktop) {
      font-size: 60px;
      line-height: 1.33;
      margin-bottom: 40px;
    }
  }

  &__description {
    color: $black;
    text-align: center;
    font-size: 16px;
    font-family: $bellota;
    line-height: 1.27;
    margin-bottom: 36px;

    @media screen and (min-width: $desktop) {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.67;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 36px;
    }

    background: $white;
    padding: 16px 20px 32px 20px;
    border: 2px solid $black;
    border-radius: 16px;
    box-shadow: 4px 4px 0px 0px $box-color;

    @media screen and (min-width: $desktop) {
      &:not(:last-child) {
        margin-right: 36px;
        margin-bottom: 0;
      }

      padding: 48px;
      border: 4px solid $black;
      box-shadow: 8px 8px 0px 0px $box-color;
    }
  }

  &__img {
    width: 100%;

    &-container {
      display: flex;
      align-items: center;

      width: 280px;
      height: 240px;
      margin-bottom: 20px;

      @media screen and (min-width: $desktop) {
        width: 360px;
        height: 320px;
        margin-bottom: 24px;
      }
    }
  }

  &__info {
    display: block;
    color: $black;
    text-align: center;
    font-size: 18px;
    font-family: $libre;
    font-weight: 700;
    line-height: 1.32;

    @media screen and (min-width: $desktop) {
      font-size: 32px;
      line-height: 1.63;
    }

    &::after {
      content: url('../images/elements/devider.svg');
      display: block;
      width: 130px;
      height: 10px;
      margin: 0 auto;

      @media screen and (min-width: $desktop) {
        width: 130px;
        height: 10px;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.program {
  background: $main-green;
  padding: 31px 0 77px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $desktop) {
    padding: 162px 0;
  }

  &__container {
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
    }
  }

  &__h2 {
    @extend %devider-after-h2;

    font-size: 20px;
    line-height: 1.4;

    @media screen and (min-width: $desktop) {
      font-size: 60px;
      font-weight: 600;
      line-height: 1.33;
      margin-bottom: 34px;

      &::after {
        margin: 20px auto 20px 0;
      }
    }
  }

  &__description {
    color: $black;
    font-size: 16px;
    font-family: $bellota;
    font-weight: 700;
    line-height: 1.22;
    margin-bottom: 37px;

    @media screen and (min-width: $desktop) {
      font-size: 24px;
      line-height: 1.67;
    }
  }

  &__img {
    &-container {
      position: relative;

      & > img {
        position: relative;
        z-index: 1;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 992px;
        height: 911px;
        border-radius: 50%;
        opacity: 0.3;
        background: $white;
        top: 0;
        left: 0;
        transform: translate(-35%, 13%);

        @media screen and (min-width: $desktop) {
          transform: translate(16%, -23%);
          width: 1240px;
          height: 1240px;
        }
      }
    }

    &-mobile {
      display: block;

      @media screen and (min-width: $desktop) {
        display: none;
      }
    }

    &-desctop {
      display: none;

      @media screen and (min-width: $desktop) {
        display: block;
      }
    }
  }
}

.description {
  padding: 95px 0 80px;
  overflow: hidden;

  @media screen and (min-width: $desktop) {
    padding: 318px 0 160px;
  }

  &__h2 {
    @extend %devider-after-h2;
    font-size: 24px;
    line-height: 1.36;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 28px;

    @media screen and (min-width: $desktop) {
      font-size: 60px;
      line-height: 1.33;
      margin-bottom: 0;
    }
    &::before {
      content: '';
      background: url('../images/elements/star-hallo.svg') no-repeat;
      background-size: contain;
      width: 121px;
      height: 121px;
      position: absolute;
      right: 16px;
      top: -74px;

      @media screen and (min-width: $desktop) {
        width: 249px;
        height: 249px;
        right: -62px;
        top: -159px;
      }
    }
    &::after {
      margin: 20px auto 0 0;
      width: 130px;

      @media screen and (min-width: $desktop) {
        width: 223px;
      }
    }

    &-container {
      position: relative;
      z-index: 1;
      border-bottom: 1px solid $black;
      padding-bottom: 28px;

      @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
      }

      &::after {
        content: '';
        width: 331px;
        height: 331px;
        border-radius: 331px;
        opacity: 0.3;
        background: $main-green;
        position: absolute;
        bottom: 95px;
        right: 0;
        transform: translate(118px, 100%);

        @media screen and (min-width: $desktop) {
          transform: translate(125px, 100%);
        }
      }
    }

    &-text {
      color: $black;
      font-size: 16px;
      font-family: $bellota;
      font-weight: 700;
      line-height: 1.22;
      display: inline-block;

      @media screen and (min-width: $desktop) {
        font-size: 24px;
        line-height: 1.67;
        width: 705px;
      }
    }
  }

  &__wrapper {
    margin-top: 25px;
    position: relative;

    &::after {
      content: '';
      width: 60px;
      height: 60px;
      border-radius: 60px;
      opacity: 0.5;
      background: $orangen;
      position: absolute;
      top: 372px;
      left: 0;
      transform: translate(-30px, 50%);

      @media screen and (min-width: $desktop) {
        top: 272px;
        left: auto;
        right: -49px;
        transform: translate(100%, 50%);
      }
    }

    @media screen and (min-width: $desktop) {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
    }

    &-info {
      @media screen and (min-width: $desktop) {
        width: 708px;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    color: $black;
    font-size: 16px;
    font-family: $bellota;
    font-weight: 700;
    line-height: 1.22;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 1.75;
    }

    &-container {
      border-bottom: 1px solid $black;
      padding-bottom: 24px;
    }
  }

  &__languages {
    &-container {
      margin-top: 24px;

      @media screen and (min-width: $desktop) {
        display: flex;
      }
    }

    &-h2 {
      color: $black;
      text-align: center;
      font-size: 34px;
      font-family: $libre;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 28px;

      @media screen and (min-width: $desktop) {
        text-align: start;
        font-size: 34px;
        line-height: 1.18;
        margin-bottom: 40px;
      }
    }

    &-list {
      margin-bottom: 32px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-item {
      width: 151px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:nth-child(n + 3) {
        margin-top: 16px;
      }

      @media screen and (min-width: $desktop) {
        width: 220px;
        flex-direction: row;
        align-items: normal;

        &:nth-child(n + 3) {
          margin-top: 40px;
        }
      }

      &-text {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $desktop) {
          align-items: flex-start;
        }
      }
    }

    &-img {
      width: 70px;
      height: 46px;
      margin-bottom: 8px;

      @media screen and (min-width: $desktop) {
        margin-right: 8px;
        margin-bottom: 0;
      }
    }

    &-language {
      color: $black;
      text-align: center;
      font-size: 20px;
      font-family: $bellota;
      font-weight: 700;
      line-height: 1.28;

      @media screen and (min-width: $desktop) {
        font-size: 24px;
        line-height: 1.17;
      }
    }

    &-description {
      color: $black;
      text-align: center;
      font-size: 14px;
      font-family: $bellota;
      line-height: 1.18;

      @media screen and (min-width: $desktop) {
        line-height: 1.29;
      }
    }

    &-contact {
      display: flex;
      justify-content: space-between;

      @media screen and (min-width: $desktop) {
        display: block;
      }
    }

    &-qr {
      border-radius: 10px;
      border: 2.361px solid $black;
      background: $light;
      box-shadow: 5px 5px 0px 0px #262c20;
      padding: 18px;
      width: 202px;
    }

    &-qr-img {
      width: 100%;
      margin-bottom: 12px;
      background-color: $white;
    }

    &-qr-info {
      display: block;
      color: $black;
      text-align: center;
      font-size: 12px;
      font-family: $libre;
      font-weight: 700;
      line-height: 1.2;
    }

    &-btn-form {
      border-radius: 8px;
      border: 2px solid $black;
      background-color: $orangen;
      box-shadow: 4px 4px 0px 0px #262c20;
      width: 100px;
      color: $black;
      text-align: center;
      font-size: 19px;
      font-family: $bellota;
      font-weight: 700;
      line-height: 1.31;
      letter-spacing: 0.475px;
      transition: background-color $animation-duration $timing-function;
      &:hover,
      :focus {
        background-color: $main-green;
      }
      @media screen and (min-width: $desktop) {
        display: none;
      }
    }
  }

  &__fedBack {
    &-container {
      display: none;
      @media screen and (min-width: $desktop) {
        display: block;
        width: 680px;
        border-radius: 18px;
        border: 4px solid $black;
        background: $white;
        box-shadow: 8px 8px 0px 0px #262c20;
        padding: 30px;
        position: relative;
        z-index: 1;
        flex-shrink: 0;
      }

      @media screen and (min-width: $desktop) {
        .modal-form__body-h2 {
          font-size: 24px;
          line-height: 1.67;
          margin-bottom: 20px;
          &::after {
            margin-top: 20px;
          }
        }
        .modal-form__body-text {
          font-size: 18px;
          line-height: 1.56;
        }
        .modal-form__form-wraper {
          margin-bottom: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          & > label {
            display: inline-block;
            width: 298px;

            &:not(:last-child) {
              margin-bottom: 0;
            }
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 20px;
            }
          }
        }
        .modal-form__form {
          margin-top: 32px;
        }
        .modal-form__form-field-container {
          font-size: 18px;
        }
        .modal-form__form-field {
          font-size: 18px;
        }
        .modal-form__form-input {
          height: 44px;
          &:placeholder-shown {
            border: 2px solid $black;
            box-shadow: 2px 2px 0px 0px #262c20;
          }
        }
        .modal-form__form-field {
          &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 20px;
          }
        }
        .modal-form__form-field-checkbox-label {
          font-size: 18px;
          margin-top: 24px;
          margin-bottom: 24px;
        }
        .modal-form__form-field-spam-conteiner {
          font-size: 18px;
          flex-shrink: 0;
          margin-bottom: 0;
        }
        .modal-form__form-field-spam-text {
          font-size: 16px;
        }
        .modal-form__form-field-spam-input {
          width: 105px;
          &:placeholder-shown {
            border: 2px solid $black;
            box-shadow: 2px 2px 0px 0px #262c20;
          }
        }
        .modal-form__form-submit-btn {
          font-size: 28px;
          width: 242px;
          border: 4px solid $black;
          box-shadow: 4px 4px 0px 0px #1c2116;
        }
        .modal-form__spam-submit-wraper {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.license {
  background: $black;
  padding: 40px 0;

  @media screen and (min-width: $desktop) {
    padding: 115px 0;
    overflow: hidden;
  }

  &-container {
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__text-container {
    @media screen and (min-width: $desktop) {
      width: 766px;
    }
  }

  &__h2-container {
    margin-bottom: 23px;
    position: relative;

    @media screen and (min-width: $desktop) {
      width: 729px;
      margin-bottom: 0;
    }
  }

  &__h2-img {
    width: 100%;
  }

  &__description {
    color: $light;
    font-size: 16px;
    font-family: $bellota;
    font-weight: 700;
    line-height: 1.37;
    margin-bottom: 23px;

    @media screen and (min-width: $desktop) {
      font-size: 24px;
      line-height: 1.67;
      margin-left: 114px;
      margin-bottom: 0;
    }

    &::before {
      content: url('../images/elements/devider-white.svg');
      display: block;
      width: 130px;
      margin-bottom: 36px;

      @media screen and (min-width: $desktop) {
        width: 223px;
        margin-bottom: 36px;
      }
    }
  }
  &__img {
    width: 100%;

    &-container {
      @media screen and (min-width: $desktop) {
        width: 819px;
        margin-right: -106px;
      }
    }
  }
}

.customers {
  background-color: $white;
  padding-top: 80px;
  padding-bottom: 80px;

  &__h2 {
    @extend %devider-after-h2;

    color: $black;
    text-align: center;
    font-size: 24px;
    font-family: $libre;
    font-weight: 700;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 20;
  }

  &__description {
    color: $black;
    text-align: center;
    font-size: 16px;
    font-family: $bellota;
    font-weight: 700;
    line-height: 1.22;
    margin-bottom: 28px;
  }

  &__list {
    display: flex;
    padding-bottom: 3px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__item {
    min-width: 120px;
    height: 95px;
    border-radius: 5.854px;
    border: 1.463px solid $black;
    background: $light;
    box-shadow: 2.927px 2.927px 0px 0px #262c20;
    position: relative;

    margin-right: 12px;
  }

  &__img-container {
    padding: 18px;
    min-width: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__btn {
    &-svg {
      width: 77px;
      height: 77px;
      fill: $light;
      &:hover {
        fill: $main-green;
      }
      &:active {
        fill: $orangen;
      }
    }
  }
}
