.header-contact {
  background-color: $white;

  .header__lang-container {
    background-color: $white;
  }
  .header__contact-link-container-svg {
    background-color: $white;
  }
  .header__contact-link:hover > .header__contact-link-container-svg {
    background-color: $main-green;
  }
}
